<ion-view view-title="Duqhan">
  <ion-content class="padding">

    <!-- content goes here -->
    <div class="row padding-none">
      <div class="col col-50">
        <div class="product-preview">
          <div class="item-image">
            <img src="main/assets/images/dummy-product.png">
          </div>
          <div class="row">
            <div class="col">
              <span>Start listening</span>
            <!-- </div>
            <div class="col text-right"> -->
              <span>209</span>
              <span>100</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-50">
        <div class="product-preview">
          <div class="item-image">
            <img src="main/assets/images/dummy-product.png">
          </div>
          <div class="row">
            <div class="col">
              <span>Start listening</span>
            </div>
            <div class="col text-right">
              <span>209</span>
              <span>100</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
