<ion-view>
  <ion-pane class="product-by-category-pane">
    <ion-content class="padding products-tab-content">

      <!-- content goes here -->
      <div class="card category-card" ng-click="ctrl.toggleSearchBar()">
        <div class="item item-text-wrap">
          {{ctrl.searchText}}
        </div>
      </div>


      <div class="card no-search" ng-if="ctrl.searchNotFound">
        <div class="item item-text-wrap">
          <img src="store/assets/images/search-icon2.png" />
          <p>Search Not Found
            <span>Try something else</span>
          </p>
        </div>
      </div>
      <!-- <div class="row p-l-n p-r-n products-row" masonry item-selector=".m-product" load-images="false" >
        <div class="col col-50 m-product" ng-repeat="p in ctrl.products" masonry-brick> -->
      <div class="row p-l-n p-r-n products-row">
        <div class="col col-50 m-product" ng-repeat="p in ctrl.products">
          <div class="product-preview" ui-sref="store.product.overview({productId: p.productId})">
            <!-- <span class="discount">{{p.discountPCT| number : 0}}%</span> -->
            <span class="latest-box">{{p.discountPCT| number : 0}}%</span>
            <div class="item-image">
              <img src="{{p.imgurl || 'store/assets/images/default.jpg' | cloudinaryThumbTransformation}}">
            </div>
            <div class="item p-xs b-t-n" style="font-family: 'Lato', sans-serif;color:#080809;">
              <span style="font-size: 0.9em;">{{p.name}}</span>
              <br/>
              <span style="font-size: 0.7em;">&#8377;
                <span style="color: #ff771c;font-family: 'Lato', sans-serif;">{{p.discountedPrice}}</span> &nbsp;
                <span style="color: #ff771c;text-decoration: line-through;font-family: 'Lato', sans-serif;">{{p.price}}</span>
              </span>
            </div>
            <!-- <div class="item text-center p-xs">
              {{p.name}}
            </div> -->
            <!-- <div class="item item-divider">
              <div class="row p-none price-wraper">
                <div class="col col-50 p-none old-price">Rs.{{p.price}}</div>
                <div class="col col-50 p-none price text-right">Rs.{{p.discountedPrice}}</div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
      <div class="card" ng-if="ctrl.noMoreItemsAvailable">
        <div class="item item-text-wrap">
          No item found in that name. Try something else.
        </div>
      </div>
      <ion-infinite-scroll ng-if="ctrl.noMoreItemsAvailable" on-infinite="ctrl.loadMore()" distance="1%" immediate-check="false"></ion-infinite-scroll>
      <div class="p-lg"></div>
    </ion-content>
  </ion-pane>
</ion-view>