<ion-view>
  <!-- <ion-header-bar align-title="center" class="bar-subheader bar-balanced">
    <h1 class="title">You can now pay with Paytm and PayPal </h1>
  </ion-header-bar> -->
  <ion-content class="padding products-tab-content">

    <!-- content goes here -->

    <div class="row p-l-n p-r-n products-row">
      <div class="col col-50 m-product" ng-repeat="p in ctrl.products" ui-sref="store.product.overview({productId: p.productId})">
        <div class="product-preview">
          <!--<span class="discount">{{p.discountPCT| number : 0}}%</span>
          <div class="item item-divider thumb-header-footer">
            <div class="energized"><i class="icon ion-bookmark"></i> Free Shipping</div>
          </div> -->
          <span class="latest-box">{{p.discountPCT| number : 0}}%</span>
          <div class="item-image">
            <img src="{{p.imgurl || 'store/assets/images/default.jpg' | cloudinaryThumbTransformation}}">
          </div>
          <div class="item p-xs b-t-n" style="font-family: 'Lato', sans-serif;color:#080809;">
            <span style="font-size: 0.9em;">{{p.name}}</span>
            <p>Free Shipping | 3-4 Weeks Delivery</p>
            <span style="font-size: 0.7em;">&#8377;
              <span style="color: #ff771c;font-family: 'Lato', sans-serif;">{{p.discountedPrice}}</span> &nbsp;
              <span style="color: #ff771c;text-decoration: line-through;font-family: 'Lato', sans-serif;">{{p.price}}</span>
            </span>
          </div>

          <!-- <div class="item item-divider thumb-header-footer">
            <div class="row p-none price-wraper">
              <div class="col col-50 p-none old-price">Rs.{{p.price}}</div>
              <div class="col col-50 p-none price text-right">Rs.{{p.discountedPrice}}</div>
            </div>
            <div class="row p-none shipping-wraper">
              <div class="col col-100 p-none">
                Est. Arrival in 3-4 Wks
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <div class="row center-align" ng-if="ctrl.spiner">
      <img class="ht50" src="store/assets/images/spiner1.gif">
    </div>
    <div class="p-lg"></div>
    <ion-infinite-scroll ng-if="!ctrl.noMoreItemsAvailable" on-infinite="ctrl.loadMore()" distance="50%" immediate-check="false"></ion-infinite-scroll>
  </ion-content>
</ion-view>