<style>
  .category-slides-wrapper {
    width: 95% !important;
    margin: auto;
    margin-top: 15px;
}
.swiper-button-next{
  display: none;
  top: 7%;
}
.swiper-button-prev{
  display: none;
  top: 7%;
}
</style>
<ion-view>
  <!-- <ion-header-bar align-title="center" class="bar-subheader bar-balanced">
    <h1 class="title">You can now pay with Paytm and PayPal </h1>
  </ion-header-bar> -->
  <ion-content class="padding products-tab-content">

  <div class="category-slides-wrapper" ng-if="menu.topLevelMenu.length > 0">
    <ks-swiper-container swiper="swiper" loop="false" show-nav-buttons="true" slides-per-view="4" space-between="0">
      <ks-swiper-slide class="swiper-slide" ui-sref="store.products.latest">
        <img class="slide-img" src="https://storage.googleapis.com/duqhan-images/category/Latest.png" />
      </ks-swiper-slide>
      <ks-swiper-slide class="swiper-slide" ui-sref="store.products.recent">
        <img class="slide-img" src="https://storage.googleapis.com/duqhan-images/category/Recent.png" />
      </ks-swiper-slide>
      <ks-swiper-slide class="swiper-slide" ng-repeat="c in menu.topLevelMenu" ui-sref="store.productsByCategory({categoryId: c.categoryId})" style="margin-right: 2px !important;">
        <img ng-if="c.imgUrl != '-'" class="slide-img" src="{{c.imgUrl}}" />
        <div ng-if="c.imgUrl == '-'" class="slide-img" style="border: 1px solid #ff771c;border-radius: 50%;">
          <span class="cat-name">{{c.displayText}}</span>
        </div>
        <span class="slide-name">{{c.displayText}}</span>
      </ks-swiper-slide>
    </ks-swiper-container>
  </div>
  <div class="swiper-button-next" style="display: block !important;" ng-click="ctrl.next()"></div>
  <div class="swiper-button-prev" style="display: block !important;" ng-click=ctrl.prev()></div>
    <!-- content goes here -->

    <div class="row p-l-n p-r-n products-row">
      <div class="col col-50 m-product" ng-repeat="p in ctrl.products" ui-sref="store.product.overview({productId: p.productId})" ng-show="p.imgurl">
        <div class="product-preview">
          <!--<span class="discount">{{p.discountPCT| number : 0}}%</span>
          <div class="item item-divider thumb-header-footer">
            <div class="energized"><i class="icon ion-bookmark"></i> Free Shipping</div>
          </div> -->
          <span class="latest-box">{{p.discountPCT| number : 0}}%</span>
          <div class="item-image">
            <img src="{{p.imgurl || 'store/assets/images/default.jpg' | cloudinaryThumbTransformation}}">
            <!-- <div ng-click="ctrl.likeUnlick(p.id)" style="position: absolute;top: -25px;right: 0;">
            <div class="like" ng-if="!ctrl.likeUnlikeFlag">
            </div>
            <div class="unlike" ng-if="ctrl.likeUnlikeFlag">
            </div>
          </div> -->
          </div> 
          <div class="item p-xs b-t-n" style="font-family: 'Lato', sans-serif;color:#080809;">
            <span style="font-size: 0.9em;"></span>
            <p style="font-size: 13px">Free Shipping | 3-4 Wks</p>
            <span style="font-size: 0.7em;">
              <span style="color: #ff771c;font-family: 'Lato', sans-serif;">{{p.discountedPrice | currencySymbol:p.symbol}}</span> &nbsp;
              <span style="color: #ff771c;text-decoration: line-through;font-family: 'Lato', sans-serif;">{{p.price}}</span>
             <span>
             <!-- <div class="likecount">
              <span style="position: relative;top: -2px;color: #33cd5f;">{{p.likeUnlikeCount}}</span>
               <img src="./main/assets/images/heart-icon.png" style="width: 15px;" />
             </div></span>  -->
            </span>
          </div>

          <!-- <div class="item item-divider thumb-header-footer">
            <div class="row p-none price-wraper">
              <div class="col col-50 p-none old-price">Rs.{{p.price}}</div>
              <div class="col col-50 p-none price text-right">Rs.{{p.discountedPrice}}</div>
            </div>
            <div class="row p-none shipping-wraper">
              <div class="col col-100 p-none">
                Est. Arrival in 3-4 Wks
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <div class="row center-align" ng-if="ctrl.spiner">
      <img class="ht50" src="store/assets/images/spiner1.gif">
    </div>
    <div class="p-lg"></div>
    <ion-infinite-scroll ng-if="!ctrl.noMoreItemsAvailable" on-infinite="ctrl.loadMore()" distance="50%" immediate-check="false"></ion-infinite-scroll>
  </ion-content>
</ion-view>