<ion-pane class="products-tab-pane products-container">
  <!-- <div class="category-slides-wrapper" ng-if="menu.topLevelMenu.length > 0">
    <ks-swiper-container loop="false" show-nav-buttons="true" slides-per-view="4" space-between="3">
      <ks-swiper-slide class="swiper-slide" ui-sref="store.products.latest">
        <img class="slide-img" src="https://storage.googleapis.com/duqhan-images/category/Latest.png" />
      </ks-swiper-slide>
      <ks-swiper-slide class="swiper-slide" ui-sref="store.products.recent">
        <img class="slide-img" src="https://storage.googleapis.com/duqhan-images/category/Recent.png" /> 
      </ks-swiper-slide>
      <ks-swiper-slide class="swiper-slide" ng-repeat="c in menu.topLevelMenu" ui-sref="store.productsByCategory({categoryId: c.categoryId})" style="margin-right: 2px !important;">
        <img ng-if="c.imgUrl != '-'" class="slide-img" src="{{c.imgUrl}}" />
        <div ng-if="c.imgUrl == '-'" class="slide-img" style="background: orange;"></div>
      </ks-swiper-slide>
    </ks-swiper-container>
  </div> -->
  <ion-nav-view name="productsContent"></ion-nav-view>
</ion-pane>