<ion-view>
  <ion-pane class="product-by-category-pane">
    <ion-content class="padding products-tab-content">

      <!-- content goes here -->
      <div class="card category-card">
        <div class="item item-text-wrap">
          {{ctrl.productCategory || 'Category'}}
          <!--<div class="category-link" ui-sref="store.categories({categoryId: ctrl.categoryId})">Other Categories</div>-->
        </div>
      </div>

      <!--<ion-scroll direction="x" overflow-scroll="false" ng-if="ctrl.categories">
        <div class="category-tab-wrapper">
          <div class="category-tab" ng-repeat="c in ctrl.categories" ui-sref="store.productsByCategory({categoryId: c.categoryId})">
            {{c.categoryName}}
          </div>
        </div>
      </ion-scroll>-->

      <!--<horizontal-tab ng-if="ctrl.categories">
        <hcard ng-repeat="c in ctrl.categories" index="{{$index}}" desc="{{c.categoryName}}" ui-sref="store.productsByCategory({categoryId: c.categoryId})"></hcard>
      </horizontal-tab>-->

      <!--<div class="slider-wrapper">
        <div class="left slider-buttons">
          <button class="button button-positive button-clear no-animation icon ion-chevron-left" ng-click="ctrl.previousSlide()" ng-if="ctrl.slideIndex > 0"></button>
        </div>
        <div class="right slider-buttons">
          <button class="button button-positive button-clear no-animation icon ion-chevron-right" ng-click="ctrl.nextSlide()" ng-if="ctrl.categories.length > (ctrl.slideIndex+1)"></button>
        </div>
        <ion-slide-box delegate-handle="image-viewer" show-pager="true" class="m-t-md" auto-play="true" does-continue="true" on-slide-changed="ctrl.slideChanged(index)" class="">
          <ion-slide ng-repeat="c in ctrl.categories">
            <div class="" ui-sref="store.productsByCategory({categoryId: c.categoryId})">
              {{c.categoryName}}
            </div>
          </ion-slide>
        </ion-slide-box>
      </div>-->

      <!--<div class="myslides">
        <ks-swiper-container loop="true" show-nav-buttons="true" slides-per-view="4" space-between="5" pagination-clickable="false">
          <ks-swiper-slide ng-repeat="s in [1,2,3,4,5]">
            <img ng-src="http://api.randomuser.me/portraits/thumb/women/{{s}}.jpg">
          </ks-swiper-slide>
        </ks-swiper-container>
      </div>-->

      <div class="category-slides" ng-if="ctrl.categories">
        <ks-swiper-container swiper="ctrl.swiper" loop="false" show-nav-buttons="true" slides-per-view="2" space-between="5" on-ready="onReadySwiper(swiper)">
          <ks-swiper-slide ng-repeat="c in ctrl.categories" ui-sref="store.productsByCategory({categoryId: c.categoryId})">
            {{c.categoryName}}
          </ks-swiper-slide>
        </ks-swiper-container>
      </div>


      <div class="row p-l-n p-r-n products-row">
        <div class="col col-50 m-product" ng-repeat="p in ctrl.products">
          <div class="product-preview" ui-sref="store.product.overview({productId: p.productId})">
            <!-- <span class="discount">{{p.discountPCT| number : 0}}%</span> -->
            <div class="item-image">
              <img src="{{p.imgurl || 'store/assets/images/default.jpg' | cloudinaryThumbTransformation}}">
            </div>

            <div class="item p-xs b-t-n" style="font-family: 'Lato', sans-serif;color:#080809;">
              <span style="font-size: 0.9em;">{{p.name}}</span>
              <br/>
              <span style="font-size: 0.7em;">&#2352;  <span style="color: #ff771c;font-family: 'Lato', sans-serif;">{{p.discountedPrice}}</span>              &nbsp; <span style="color: #ff771c;text-decoration: line-through;font-family: 'Lato', sans-serif;">{{p.price}}</span>
              </span>
            </div>

            <!-- <div class="item item-divider">
              <div class="row p-none price-wraper">
                <div class="col col-50 p-none old-price">Rs.{{p.price}}</div>
                <div class="col col-50 p-none price text-right">Rs.{{p.discountedPrice}}</div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
      <div class="card" ng-show="ctrl.products.length === 0">
        <div class="item item-text-wrap">
          No products available.
        </div>
      </div>
      <div class="card" ng-hide="ctrl.products">
        <div class="item item-text-wrap">
          No more subcategory available.
        </div>
      </div>
      <div class="p-lg"></div>
      <ion-infinite-scroll ng-if="!ctrl.noMoreItemsAvailable" on-infinite="ctrl.loadMore()" distance="50%" immediate-check="false"></ion-infinite-scroll>
    </ion-content>
  </ion-pane>
</ion-view>