<ion-view view-title="Duqhan">
  <ion-pane class="product-by-category-pane">
    <ion-content class="padding products-tab-content">

      <!-- content goes here -->
      <div class="card category-card">
        <div class="item item-text-wrap">
          {{ctrl.productCategory}}
          <div class="category-link" ui-sref="store.categories({categoryId: ctrl.categoryId})">Other categories</div>
        </div>
      </div>
      <div class="row p-l-n p-r-n products-row" masonry item-selector=".m-product" load-images="false" >
        <div class="col col-50 m-product" ng-repeat="p in ctrl.products" masonry-brick>
          <div class="product-preview" ui-sref="store.product.overview({productId: p.productId})">
            <span class="discount">{{p.discountPCT| number : 0}}%</span>
            <div class="item-image">
              <img src="{{p.imgurl}}">
            </div>
            <div class="item item-text-wrap text-center p-xs">
              {{p.name}}
            </div>
            <div class="item item-divider">
              <div class="row p-none price-wraper">
                <div class="col col-50 p-none old-price">Rs.{{p.price}}</div>
                <div class="col col-50 p-none price text-right">Rs.{{p.discountedPrice}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card" ng-hide="ctrl.products">
        <div class="item item-text-wrap">
          No more subcategory available. 
        </div>
      </div>
      <div class="p-lg"></div>
    </ion-content>
  </ion-pane>
</ion-view>
