<ion-pane class="products-tab-pane">
  <ion-tabs class="tabs-striped tabs-assertive">

    <!-- latest Tab -->
    <ion-tab title="Latest Products" ui-sref="store.products.latest">
      <ion-nav-view name="latestProductsContent"></ion-nav-view>
    </ion-tab>

    <!-- recent Tab -->
    <ion-tab title="Recently Viewed" ui-sref="store.products.recent">
      <ion-nav-view name="recentProductsContent"></ion-nav-view>
    </ion-tab>

    <!-- recent Tab -->
    <ion-tab title="Jewellery Items" ui-sref="store.productsByCategory({categoryId: 1})">
      <ion-nav-view name="categoryProductsContent"></ion-nav-view>
    </ion-tab>

  </ion-tabs>
</ion-pane>