<ion-view>
  <ion-pane class="product-by-category-pane"> 
    <ion-content class="padding products-tab-content">

      <!-- content goes here -->
      <div class="card category-card" >
        <div class="item item-text-wrap">
          <div style="">{{ctrl.categoryName || 'Category'}}
          <div style="float:right;" ng-show="ctrl.showPopover">
          <a style="color: white;font-size: 25px;" ng-click = "openPopover($event)"><i class="icon ion-ios-more-outline"></i></a>
          </div>
          </div>
          </div> 
        </div>
      </div>

      <!-- <div class="category-slides-wrapper" ng-if="ctrl.categories.length > 0">
        <ks-swiper-container loop="false" show-nav-buttons="false" slides-per-view="4" space-between="5" swiper="ctrl.swiper" on-ready="onReadySwiper(swiper)">
          <ks-swiper-slide class="swiper-slide" ng-repeat="c in ctrl.categories" ui-sref="store.productsByCategory({categoryId: c.categoryId})">
            <img src="main/assets/images/rings.png" /> {{c.categoryName}}
          </ks-swiper-slide>
        </ks-swiper-container>
      </div> -->
      <div class="category-slides-wrapper" ng-if="ctrl.categories.length > 0 && !ctrl.isThirdLevelCategory">
        <ks-swiper-container loop="false" show-nav-buttons="true" slides-per-view="4" space-between="5" swiper="ctrl.swiper" on-ready="onReadySwiper(swiper)">
          <ks-swiper-slide class="swiper-slide col75" ng-repeat="c in ctrl.categories" ui-sref="store.productsByCategory({categoryId: c.categoryId})" ng-click="ctrl.getProduct()">
            <img ng-if="c.imgUrl != '-'" class="slide-img" src="{{c.imgUrl}}" />
             <div ng-if="c.imgUrl == '-'" class="slide-img" style="border: 1px solid #ff771c;border-radius: 50%;">
               <span class="cat-name">{{c.displayText}}</span>
             </div>
          </ks-swiper-slide>
        </ks-swiper-container>
      </div>

      <!-- <div class="category-slides" ng-if="ctrl.categories">
        <ks-swiper-container swiper="ctrl.swiper" loop="false" show-nav-buttons="false" slides-per-view="4" space-between="5" on-ready="onReadySwiper(swiper)">
          <ks-swiper-slide ng-repeat="c in ctrl.categories" ui-sref="store.productsByCategory({categoryId: c.categoryId})">
            {{c.categoryName}}
          </ks-swiper-slide>
        </ks-swiper-container>
      </div> -->


      <div class="row p-l-n p-r-n products-row">
        <div class="col col-50 m-product" ng-repeat="p in ctrl.products" ng-show="p.imgurl" >
          <div class="product-preview" ui-sref="store.product.overview({productId: p.productId})">
            <!-- <span class="discount">{{p.discountPCT| number : 0}}%</span> -->
            <div class="item-image">
              <img src="{{p.imgurl || 'store/assets/images/default.jpg' | cloudinaryThumbTransformation}}">
              <!-- <div ng-click="ctrl.likeUnlick(ctrl.product.id)" style="position: absolute;top: -25px;right: 0;">
                <div class="like" ng-if="!ctrl.likeUnlikeFlag">
                </div>
                <div class="unlike" ng-if="ctrl.likeUnlikeFlag">
                </div>
              </div> -->
            </div>

            <div class="item p-xs b-t-n" style="font-family: 'Lato', sans-serif;color:#080809;">
              <span style="font-size: 0.9em;"></span>
              <p style="font-size: 13px">Free Shipping | 3-4 Wks</p>
              <span style="font-size: 0.7em;">
                <span style="color: #ff771c;font-family: 'Lato', sans-serif;">{{p.discountedPrice | currencySymbol:p.symbol}}</span> &nbsp;
                <span style="color: #ff771c;text-decoration: line-through;font-family: 'Lato', sans-serif;">{{p.price}}</span>
              </span>
              <!-- <span>
               <div class="likecount">
                <span style="position: relative;top: -2px;font-size: 13px;color: #33cd5f;">{{p.likeUnlikeCount}}</span>
                 <img src="./main/assets/images/heart-icon.png" style="width: 15px;" />
               </div></span>  -->
            </div>

            <!-- <div class="item item-divider">
              <div class="row p-none price-wraper">
                <div class="col col-50 p-none old-price">Rs.{{p.price}}</div>
                <div class="col col-50 p-none price text-right">Rs.{{p.discountedPrice}}</div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
      <div class="row center-align" ng-if="ctrl.spiner">
      <img class="ht50" src="store/assets/images/spiner1.gif">
      </div>
      <div class="card" ng-show="ctrl.products.length === 0 && ctrl.apicallflag">
        <div class="item item-text-wrap">
          No products available.
        </div>
      </div>
      <div class="card" ng-hide="ctrl.products">
        <div class="item item-text-wrap">
          No more subcategory available.
        </div>
      </div>
      <div class="p-lg"></div>
      <ion-infinite-scroll ng-if="!ctrl.noMoreItemsAvailable" on-infinite="ctrl.loadMore()" distance="50%" immediate-check="false"></ion-infinite-scroll>
    </ion-content>
  </ion-pane>
</ion-view>