@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

// Colors
// -------------------------------
$energized: #ff771c !default;
$positive: #39abf3 !default;
$light: #ffffff !default;

// Landing Page
// -------------------------------
.landing {
  background-image: url("../assets/images/bkg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -222px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  .list {
    min-width: 220px;
    background: transparent;
    background-image: url("../assets/images/box-background.png");
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-top: 20%;
    .item {
      background: transparent;
      border-width: 0;
      &.item-divider {
        padding-top: 0;
        padding-bottom: 0;
        min-height: 0;
        margin-top: -15px;
        margin-bottom: -15px;
        div {
          text-align: center;
          float: left;
          width: 20%;
          height: 20px;
          font-family: "Facit Light";
          color: #848484;
          &.separator {
            background-image: url(../assets/images/separator.png);
            background-repeat: repeat no-repeat;
            background-position: center;
            width: 40%;
          }
        }
      }
      .logo-text {
        font-size: 16px;
        color: #f28433;
        margin-top: 5px;
        font-family: "Facit Light";
      }
    }
    form {
      padding: 0 16px;
      margin-bottom: 30px;
      .item {
        width: auto;
        padding: 0;
        margin: 10px 20px 0 20px;
        &.item-input {
          border-bottom: 1px solid rgba(36, 34, 34, .15);
        }
        input {
          padding: 10px 0;
          font-family: "Lato";
          font-weight: 400;
          font-size: 20px;
          height: auto;
          line-height: normal;          
          &::-webkit-input-placeholder {
            color: #000000;
          }
          &::-moz-placeholder {
            color: #000000;
          }
          &:-ms-input-placeholder {
            color: #000000;
          }
          &:-moz-placeholder {
            color: #000000;
          }
          &:placeholder {
            color: #000000;
          }
        }
        .button-clear {
          padding: 0;
          color: #242222;
          font-family: "Lato";
          font-weight: 300;
          font-size: 18px;
          max-height: none;
          margin: 10px 0;
          border: none;
        }
        a {
          color: #242222;
          font-family: "Lato";
          font-weight: 300;
          font-size: 18px;
          text-decoration: none;
          span {
            color: #f28433;
            font-weight: 700;
            font-size: 16px;
          }
        }
        .button-energized {
          height: 60px;
        }
      }
    }
  }
}
.forget {
  .list {
    .item {
      p {
        text-overflow: unset;
        white-space: normal;
      }
      strong {
        color: #242222;
        font-family: "Lato";
        font-weight: 400;
        font-size: 22px;
        display: block;
        margin: 0 0 20px 0;
      }
      &.has-errors {
        border-bottom: 1px solid rgba(36, 34, 34, 0.15) !important;
        margin-bottom: 40px;
      }
    }
    .sub-text {
      padding-top: 0;
    }
  }
}

.signup {
  .list {
    padding-top: 40px;
    margin-top: 20px;
    .item {
      &.item-stacked-label {
        border-bottom: 1px solid rgba(36, 34, 34, 0.15) !important;
        margin-bottom: 20px;
        span {
          position: absolute;
          right: 0;
          bottom: 12px;
        }
      }
      span {
        font-size: 12px;
        display: block;
        text-align: right;
      }
    }
  }
}
.landing {
  .list-inset {
    .list {
      border-radius: 0px;
      border-top: 4px solid #f28433;
      background: white !important;
    }

    .item:first-child {
      .logo {
        width: 60px;
        margin-top: 30px;
      }
      .logo-text {
        font-size: 14px;
        color: #f28433;
        margin-top: 0;
        font-family: "Facit Semibold";
      }
    }

    .item:nth-child(1) {
      padding: 0;
    }

    .item:nth-child(3) {
      padding-top: 0;
      padding-bottom: 0;
    }

    .item:last-child {
      padding: 0;
      margin-bottom: -2px;
      .row {
        padding: 0;
      }
    }

    .paytm {
      background: #042e6f;
      padding: 12px 0;
      img {
        width: 40%;
      }
    }

    .paypal {
      background: #009cde;
      padding: 12px 0;
		img {
			width: 46%;
		  }
    }

    .sub-text p {
      color: #000;
      font-size: 20px;
      line-height: 24px;
      font-family: "Lato", sans-serif;
    }

    .bottom-text {
      font-family: "Lato", sans-serif;
      padding: 20px 0;
      font-size: 14px;
      font-weight: 400;
      color: #000000;
    }

    .button-facebook {
      height: 40px;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      font-family: "Lato", sans-serif;
      font-size: 4.5vw;
      position: relative;
      background: #2450af;
      box-shadow: none;
      padding: 0 0 0 40px;
      cursor: pointer;
      font-weight: 400;
      text-align: center;
    }
    .button-facebook:before {
      background: #1644a7;
      margin: 0;
      position: absolute;
      left: 0;
      top: 0;
      width: 40px;
      text-align: center;
      line-height: 40px;
      height: 100%;
      font-size: 20px;
      padding: 0;
      border-right: 1px solid #2955b6;
      box-shadow: 0px 0px 0px 1px #183b85;
    }
    .button-facebook:hover {
		  color: #fff;
    }
    .button-energized {
      height: 40px;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      font-family: "Lato", sans-serif;
      font-size: 4.5vw;
      position: relative;
      // background: #2450af;
      box-shadow: none;
      padding: 0;
      cursor: pointer;
      font-weight: 400;
      text-align: center;
    }
    .item-button {
      p {
        font-family: "Lato", sans-serif;
        font-size: 14px;
        text-align: center;
        color: #242222;
      }
    }
  }
}

// Login, Sign up and Forgot Password Page
// -------------------------------
.authenticate {
  background-image: url("../assets/images/login-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Facit Light";
  .list {
    min-width: 220px;
    background: transparent;
    .item {
      background: transparent;
      border-width: 0;
      &.item-input {
        border-bottom: 1px solid #9b9b9b;
        padding-bottom: 0;
        .icon {
          color: $energized;
          font-size: 20px;
        }
        input {
          font-size: 12px;
        }
      }
      &.item-button {
        padding-left: 0;
        padding-right: 0;
      }
      &.item-divider {
        padding: 0;
        min-height: 0;
        margin-top: -15px;
        margin-bottom: -15px;
        div {
          text-align: right;
          .button-stable {
            color: #696969;
            padding: 0;
          }
        }
      }
      .logo-wrapper {
        display: inline-block;
        background: transparent;
        padding: 20px;
        height: 120px;
        width: 120px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        -webkit-box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.2);
        .logo-text {
          font-size: 16px;
          color: #505050;
          text-transform: uppercase;
        }
      }
    }
  }
}

body {
  #intercom-container {
    .intercom-app {
      .intercom-launcher-frame {
        bottom: 150px !important;
      }

      .intercom-messenger-frame {
        bottom: 150px !important;
      }
    }
  }
}
