// Fonts
// -------------------------------
@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');
// Colors
// -------------------------------
$energized: #ff771c !default;
$positive: #39abf3 !default;
$balanced: #33cd5f !default;
$assertive: #ef473a !default;
// Menu
// -------------------------------
.menu {
  .scroll-content,
  .item,
  .item-complex .item-content {
    background-color: #090a07;
    border: none;
    &.active {
      border-color: transparent;
      border-width: 0px;
      a {
        &.item-content {
          background-color: #11120e;
          color: white;
          border-right: 5px solid #ff781e;
        }
      }
    }
  }
  .item.item-divider {
    background-color: darken($energized, 10%);
    color: white;
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    border-color: transparent;
    border-width: 0px;
  }
  .list {
    padding-top: 0px;
  }
  .menu-image {
    background-color: #040502;
    border-bottom: 2px solid #1e1f1b;
    img {
      max-width: 100px !important;
      max-height: 100px !important;
      width: 40% !important;
      margin: 20px 0 10px;
      border: 2px solid #ff771c;
      border-radius: 50%;
    }
    h2 {
      margin-bottom: 20px !important;
      color: #fff;
    }
  }
  .menu-footer {
  }
}
.menu-left {
  .item {
    span {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      img {
        width: 30px;
        vertical-align: middle;
      }
    }
    strong {
      display: inline-block;
      vertical-align: middle;
      font-weight: 400;
      color: #fff;      
      font-family: "Lato";
    }
  }
}

// Notification
// -------------------------------
.notification {
  position: absolute;
  top: 44px;
  width: 100%;
  color: white;
  z-index: 999;
  padding: 2px 10px;
  font-size: 12px;
  &.success {
    background: $balanced;
  }
  &.failure {
    background: $assertive;
  }
}

// Products Page and Product Page
// -------------------------------


.products-tab-pane.pane .pane,
.product-tab-pane.pane .pane {
	background: #f9f5f2;
}


.products-tab-pane.pane,
.product-tab-pane.pane,
.product-by-category-pane.pane,
.free-products.pane,
.free-product {
	background: #f9f5f2;
  top: 44px;
  .products-tab-content,
  .product-tab-content {
    top: 35px;
    .slider {
      .slider-slides {
        ion-slide {
          img {
            margin: auto;
            display: block;
            width: 100%;
          }
        }
      }
    }
    .products-row {
      flex-wrap: wrap;
    }
    .product-brief {
      color: #303030;
      border-bottom: 1px solid #cdcdcd;
      .product-name {
        color: #000;
        font-size: 18px;
        font-family: "Lato";
      }
      .product-price {
        span {
          text-decoration: line-through;
          color: #a1a1a1;
          display: inline-block;
          margin-right: 10px;
        }
      }
    }
    .product-detail {
      .row,
      .col {
        padding: 0;
      }
      .link {
        font-family: "Whitney Semibold";
        color: $positive;
        text-transform: uppercase;
        font-size: 12px;
      }
      .values {
        font-family: "Lato";
        color: #ff771c;
        font-weight: 600;
      }
      .product-specification {
        .item {
          font-size: 14px;
          padding: 10px;
        }
      }
    }
    .category-tab-wrapper {
      white-space: nowrap;
      padding: 15px 0;
      overflow: auto;
      .category-tab {
        margin: 0 5px;
        -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
        box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
        border-radius: 4px 4px 4px 4px;
        -moz-border-radius: 4px 4px 4px 4px;
        -webkit-border-radius: 4px 4px 4px 4px;
        border: 0px solid #000000;
        display: inline-block;
        padding: 15px 10px;
      }
    }
    // .scroll-bar-h {
    //   display: none;
    // }
    // .overflow-scroll {
    //   overflow-x: auto;
    // }
  }
  .product-preview {
    /*border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); */
    border-left: 1px solid #ece9e6;
    border-right: 1px solid #ece9e6;
    border-top: 1px solid #ece9e6;
    position: relative;
    .item-image {
      position: relative;
      overflow: hidden;
      border-bottom: 1px solid #ece9e6;
      margin-bottom: 1px;
      &:before {
        content: "";
        display: block;
        padding-top: 100%;
      }
      img {
		position: absolute;
		top: 50%;
		min-width: 100%;
		min-height: 100%;
		max-width: 100%;
		margin: auto;
		width: auto;
		left: 50%;
		transform: translate(-50%,-50%);
      }
    }
    .discount {
      background-color: #000000;
      color: #ffffff;
      padding: 2px 5px;
      position: absolute;
      top: 38px;
      font-size: 12px;
      opacity: 0.8;
      z-index: 99;
    }
    .price-wraper {
      font-size: 12px;
      .old-price {
        text-decoration: line-through;
        color: #a1a1a1;
      }
      .price {
        font-weight: bold;
      }
    }
    .item-divider {
      &.thumb-header-footer {
        padding: 8px;
        .shipping-wraper {
          font-size: 12px;
          margin-top: 0px;
          color: #6d6d6d;
        }
      }
    }
  }
  .products-tab-content {
    .category-slides {
      margin: 0;
      padding: 0;
      height: 50px;
      -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
      border-radius: 4px 4px 4px 4px;
      -moz-border-radius: 4px 4px 4px 4px;
      -webkit-border-radius: 4px 4px 4px 4px;
      border: 0px solid #000000;
      .swiper-container {
        width: 100%;
        height: 100%;
        .swiper-wrapper {
          .swiper-slide {
            text-align: center;
            font-size: 14px;
            font-family: "Facit Light";
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 20px;
            border-right: 1px solid #b9b9b9;
            margin-right: 2px;
          }
        }
        .swiper-button-prev,
        .swiper-button-next {
          height: 20px;
          margin-top: -10px;
          &.swiper-button-next {
            right: 5px;
          }
          &.swiper-button-prev {
            left: 5px;
          }
        }
      }
    }
    .category-tab {
      margin: 5px;
      -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
      border-radius: 4px 4px 4px 4px;
      -moz-border-radius: 4px 4px 4px 4px;
      -webkit-border-radius: 4px 4px 4px 4px;
      border: 0px solid #000000;
      display: inline-block;
      padding: 15px 10px;
    }
    &.has-subheader {
      top: 70px;
    }
  }
}

.free-products.pane {
  top: 0;
  .button {
    &.p-none {
      margin: 0;
    }
  }
}

.free-product {
  top: 0;
  .bar.bar-footer {
    bottom: 0;
    .button {
      margin: 0;
      line-height: 44px;
    }
  }
}

.tab-content .bar-subheader {
  top: 35px;
  height: 34px;
  .title {
    font-size: 14px;
    height: 34px;
    line-height: 34px;
    span {
      background: white;
      display: inline-block;
      height: 100%;
      img {
        height: 50%;
        vertical-align: middle;
      }
    }
  }
}

.product-by-category-pane.pane {
  top: 0px;
  .category-card {
    margin: 0 -10px 10px;
    border-radius: 0px;
    .item {
      background-color: darken($energized, 10%);
      border-radius: 0px;
      color: #fff;
      padding-top: 10px;
      padding-bottom: 10px;
      .category-link {
        float: right;
        font-size: 80%;
        text-decoration: underline;
        color: darken(#fff, 8%);
      }
    }
  }
}

.modal-backdrop-bg {
  background-color: #000;
  opacity: 0.3;
}

.add-to-bag {
  height: auto;
  bottom: 0;
  min-height: inherit;
  top: inherit;
  .bar {
    &.bar-header {
      position: relative;
    }
  }
  ion-content {
    position: relative;
    top: 0;
  }
}

// Cart Page
// -------------------------------
.cart {
  background: #f9f5f2;
  .list.summary {
    padding: 10px 0 0;
    margin-bottom: 10px;
    background: #fff;
    a.item {
      padding: 6px 16px;
      border-style: none;
      &.positive {
        .item-note {
          color: $positive;
        }
      }
      &.item-divider {
        margin-top: 10px;
        text-align: center;
        color: #ff771c;
        font-weight: bold;
        font-size: 14px;
        border: none;
      }
    }
  }
  .cart-items {
    padding: 10px 0 0;
    border-top: 1px solid #e8e8e8;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 5px;
    background: #fff;
    .product {
      h2 {
        margin: 0 0 2px 0;
        font-size: 16px;
        font-weight: normal;
      }
      h3 {
        margin: 3px 0 2px 0;
        font-size: 22px;
        font-weight: bold;
        color: #ff771c;
        span {
          font-size: 80%;
          display: inline-block;
          margin-right: 5px;
          text-decoration: line-through;
          color: #a1a1a1;
        }
      }
      p {
        color: #666;
        font-size: 14px;
        margin-bottom: 2px;
      }
      img {
        max-width: 75px;
        max-height: 75px;
        // width: 100%;
        // height: 100%;
      }
      .item.item-input.item-select {
        padding: 0 0 0 10px;
        .input-label {
          padding: 5px 5px 5px 0px;
        }
      }
      &.out-of-stack {
        opacity: 0.5;
      }
    }
  }
}

.cart-box {
  background: url(../assets/images/cart-bg.jpg) no-repeat left top;
  padding: 260px 0 0 0;
  background-size: 100% auto;
  text-align: center;
  font-family: "Lato";
  h2 {
    font-size: 26px;
    font-weight: 400;
    margin: 0;
  }
  p {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    margin: 15px 20%;
  }
  a {
    background: #12b46a;
    display: block;
    margin: 0 25%;
    padding: 22px 0;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
  }
  span {
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    margin: 20px 20% 0 20%;
    display: block;
  }
}
.bar.cart-footer {
  background-color: #2e302f;
  font-family: "Lato";
  border: none;
  .col {    
    padding:0;
    h3 {
      color: #fff;
      line-height: normal;
      font-family: "Lato";
      font-size: 20px;
      margin: 8px 0 0 0;
    }
    button.return-policy-button {
      padding: 0;      
      color: #fff;      
      font-size: 14px;      
      line-height: normal;      
      min-height: auto;      
      border: none;      
      font-weight: 400;
    }
    button.add-cart-button {
      background-color: #12b46a;
      border: none;      
      height: auto;      
      line-height: normal;      
      font-family: "Lato";      
      min-height: auto;      
      text-transform: none;      
      font-size: 22px;
      box-shadow: none;
    }
  }
}
.cart .list.summary.cart-pay {
  padding:10px;
  margin: 10px 20px 30px 20px;
  background: #fff;
  border: 1px solid #edeae7;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  a.item {
    color: #000;
    display: block;
    span {
      float: left;
      font-size: 16px;
      color: #000;
      font-weight: 300;
      font-family: "Lato";
    }
    .item-note {
      float: right;
      font-weight: 400;
    }
  }
}
.cart .cart-items.cart-list {
  background: none;
  border: none;
  box-shadow: none;
  margin: 0 20px;
  border-bottom: 1px solid #cfccca;
  .cart-list-img {
    background: #fff;
    border: 1px solid #edeae7;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  }
  h2 {
    color: #000;
    margin: 0 0 10px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    font-family: "Lato";
  }
  p.property {
    background: #eee9e5;
    padding: 5px;
  }
  p {
    margin: 0 0 10px 0;
    font-family: "Lato";
    span {
      color: #000;
      font-size: 14px;
      font-weight: 300;

    }
  }
  h3 {
    font-family: "Lato";
    color: #000;
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 10px 0;
    span {
      font-size: 18px;
      font-weight: 400;
      color: #ff771c;
      margin: 0 0 0 5px;
    }
    strong {
      font-size: 18px;
      font-weight: 300;
      display: inline-block;
    }
    em {
      display: inline-block;
      margin: 0 0 0 5px;
      color: #ff771c;
    }
  }
  .item-input {
    background: none;
    border: none;
    padding: 0 !important;
  }
  button.button-full {
    background:#f3f0ed url(../assets/images/delete-icon.png) no-repeat center center;
    border: 1px solid #ccc;
    padding: 0;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-size: 14px auto;
  }
  .item-select {
    select {
      background: #eee9e5;
    }
  }
}
.price-details {
  font-family: "Lato";
  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin: 10px 0 10px 20px;
}
.review-products {
  font-family: "Lato";
  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin: 10px 20px;
  border-bottom: 1px solid #cfccca;
  padding: 12px 0;
}
.delivery-address {
  font-family: "Lato";
  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin: 30px 20px 0 20px;
  border-bottom: 1px solid #cfccca;
  padding: 0 0 12px 0;
}
.address-box {
  .card{
    margin: 20px 20px 0 20px;
    border-radius: 0;
    background: none;
    box-shadow: none;
    padding: 0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    .item {
      border-radius: 0;
      border: 1px solid #edeae7;
      h2 {
        font-family: "Lato";
        color: #000;
        font-size: 20px;
      }
      p {
        font-family: "Lato";
      }
    }
    .button {
      background: #ff771c;
      font-family: "Lato";
      font-size: 16px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 300;
    }
  }
}
.choose-payment {
    border: none;
    height: 60px;
    .col {
      padding: 0;
      button {
        background: #2e302f;
        border: none;
        width: 100%;
        padding: 0;
        line-height: 60px;
        min-height: auto;
        font-family: "Lato";
        text-transform: none;
        font-size: 22px;
        box-shadow: none;
        color: #fff;
      }
      button.button-positive {
        background: #12b46a;
      }
    }
}
// Checkout Page
// -------------------------------
.checkout {
  .checkout-review-items {
    .item.item-thumbnail-left img {
      width: auto;
      height: auto;
    }
    h3 {
      color: $energized;
      span {
        color: #c4c4c4;
        &.discounted-price {
          text-decoration: line-through;
        }
        &.discount-percentage {
          font-size: 80%;
        }
      }
    }
  }
  .summary {
    .item {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

.select-payment-gateway-modal {
  height: auto;
  bottom: 0;
  min-height: inherit;
  top: inherit;
  .bar {
    &.bar-header {
      position: relative;
    }
  }
  ion-content {
    position: relative;
    top: 0;
    .list {
      .item-radio {
        .radio-content {
          .item-content {
            img {
              width: 50px;
              vertical-align: middle;
            }
            span {
              display: inline-block;
              font-size: 20px;
              line-height: 50px;
              vertical-align: middle;
              margin-left: 10px;
            }
          }
          .radio-icon {
            position: absolute;
            top: 0;
            right: 15px;
            z-index: 3;
            font-size: 24px;
            margin-top: 45px;
            height: auto;
            padding: 0;
            transform: translateY(-60%);
            -webkit-transform: translateY(-60%);
          }
        }
      }
    }
  }
  ion-footer-bar {
    position: relative;
    &.bar {
      &.bar-footer {
        bottom: 0;
      }
    }
  }
}

// Profile Page
// -------------------------------
.profile {
  .list-inset {
    margin: 0;
  }
  background: #f9f5f2;
  font-family: "Lato";
  .list {
    background: transparent;
    padding-bottom:50px; 
    .item {
      background: transparent;
      border-width: 0;
      &.item-input {
        border-bottom: none !important;
        margin: 0 30px;
        padding: 0;
        .input-label {
          font-weight: 400;
          color: #a8a6ac;
          margin: 10px 0;
          display: block;
        }
        .icon {
          color: $energized;
          font-size: 30px;
          padding: 0;
          position: absolute;
          right: 0;
        }
        input {
          background: none;
          border-bottom: 1px solid #ccc;
          color: #15173b;
          padding: 6px 0 14px 0;
          font-size: 20px;
          height: auto;
          line-height: normal;          
          &::-webkit-input-placeholder {
            color: #15173b;
          }
          &::-moz-placeholder {
            color: #15173b;
          }
          &:-ms-input-placeholder {
            color: #15173b;
          }
          &:-moz-placeholder {
            color: #15173b;
          }
          &:placeholder {
            color: #15173b;
          }
        }
      }
      &.item-radio {
        font-size: 20px;
        display: inline-block;
        margin: 0;
        color: #15173b;
        height: 32px;
        .item-content {
          background:url(../assets/images/radio-off.png) no-repeat 82% center;
          padding: 0 50px 0 0;
          background-size:26px auto; 

        }
        input:checked + .radio-content {
          .item-content {
            background-image:url(../assets/images/radio-on.png); 
          }
        }
        .icon {
          visibility: hidden;
        }
      }
      &.item-button {
        padding-left: 0;
        padding-right: 0;
      }
      .placeholder-icon:first-child {
        padding-right: 10px;
      }
        span.placeholder-icon {
          border-bottom: 1px solid #ccc;
          color: #15173b;
          padding: 6px 0 14px 0;
          font-size: 20px;
          height: auto;
          line-height: normal; 
          display: block;
      }
      .gender-radio {
        border-bottom: 1px solid #ccc;
        padding: 6px 0 14px 0;
      }
    }    
    .profile-image {
      background: url(../assets/images/profile-bg.jpg) no-repeat center center;
      padding: 20px 0;
      position: relative;
      background-size: cover;
      &:after {
        background: #f9f5f2;
        width: 100%;
        height: 30%;
        position: absolute;
        left: 0;
        content: "";
        bottom: 0;
      }
      .profile-pic-view {
        position: relative;
        z-index: 3;
        .profile-pic-change {
          border: 2px solid #ff771c;
          border-radius: 50%;
          width: 200px;
          height: 200px;
          margin: 0 auto;
          overflow: hidden;
          position: relative;
          img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            min-width: 100%;
            min-height: 100%;
            max-width: none;
            width: auto;
          }
        }
        h2 {
          font-size: 20px;
          color: #15173b;
          margin: 10px 0;
          clear: both;
          font-weight: 400;
          font-family: "Lato";
        }
      }
    }
  }
}

// Addresses
// -------------------------------
.my-address {
  background-color: #f9f5f2;
  h5 {
    background: #fff;
    margin: 0;
    border: 1px solid #cac6c3;
    padding: 15px;
    color: #ff771c;
    font-weight: 400;
    font-family: "Lato";
    position: relative;
    &:before {
      background: #464646;
      position: absolute;
      right: 0;
      top: 0;
      content: "+";
      width: 50px;
      height: 100%;
      text-align: center;
      color: #fff;
      font-size: 34px;
      pointer-events: none;
    }
  }
  .card {
    background: none;
    box-shadow: none;
    border-bottom: 1px solid #ccc;
    margin: 0 20px;
    .badge-wrapper {
      text-align: right;
      padding: 10px 16px 2px 0;
      .badge {
        font-size: 12px;
        line-height: 12px;
      }
    }
    .item {
      border-width: 0;
      background: none;
      padding: 30px 30px 30px 40px;
      font-family: "Lato";
      .radio-box { 
        display: block; 
        height: 30px; 
        width: 30px;
        position: absolute;
        left: 0;
        top: 28px;
        input[type="radio"] { 
          opacity: 0;
          margin:0;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }
      }      
      .radio-box input[type="radio"] + label { 
        display:inline-block; 
        width: 30px; 
        vertical-align: middle; 
        background:url(../assets/images/radio-off.png) no-repeat left top; 
        cursor:pointer; 
        margin: 0;
        height: 30px;
        background-size: cover;
      }
      .radio-box input[type="radio"]:checked + label {
        background-image: url(../assets/images/radio-on.png);
      }
      h2 {
        font-size: 20px;
        color: #15173b;
        span {
          background: #c7c4c2;
          font-size: 13px;
          color: #fff;
          padding: 5px 14px;
          display: inline-block;
          border-radius: 30px;
          font-weight: 300;
        }
      }
      p {
        font-size:18px;
      }
      strong {
        color: #ff771c;
        position: absolute;
        right: 0;
        font-weight: 400;
      }
    }
  }
}

.new-address-modal {
  background:#f9f5f2; 
  font-family: "Lato";
  .default-address {
    margin:  20px 20px 50px 20px;
    border: 1px solid #d4d3cf;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    .item-input {
      margin: 0;
      background: #fff;
      &:first-child {
        border-bottom: 1px solid #d4d3cf;
      }
      .checkbox input:checked + .checkbox-icon:before {
        background: #12b46a;
        border-color: #12b46a;
      }
    }
  }
  .item-input {
    background: none;
    border: none;
    padding: 0;
    margin:0 20px;
    .input-label {
      font-weight: 400;
      color: #a8a6ac;
      margin: 10px 0;
      display: block;
    }
    input {
      background: none;
      border-bottom: 1px solid #ccc;
      color: #15173b;
      padding: 6px 0 14px 0;
      font-size: 20px;
      height: auto;
      line-height: normal;
      &::-webkit-input-placeholder {
        color: #15173b;
      }
      &::-moz-placeholder {
        color: #15173b;
      }
      &:-ms-input-placeholder {
        color: #15173b;
      }
      &:-moz-placeholder {
        color: #15173b;
      }
      &:placeholder {
        color: #15173b;
      }
    }
  }
  .has-errors {
    border-bottom: none !important;
}
  label.item.item-checkbox {
    border-width: 0px;
  }
  .bar.bar-footer {
    bottom: 0px;
  }
}

.address-options-popover {
  height: 170px;
}

// Orders Page
// -------------------------------
.order-history {
  background: #e8e8e8;
  .card {
    margin-top: 10px;
    .item {
      img {
        width: auto;
        height: auto;
      }
      h3 {
        color: $balanced;
      }
      p {
        font-size: 12px;
      }
      &.item-divider {
        padding-left: 10px;
        font-size: 14px;
      }
    }
  }
}

.order-detail {
  background-color: #e5e5e5;
  .card {
    margin-top: 10px;
    .item.item-image {
      position: relative;
      img {
        width: 50%;
      }
    }
    .item {
      border-width: 0;
      padding-top: 7px;
      padding-bottom: 7px;
      h2 {
        font-size: 20px;
      }
      i.icon {
        font-size: 16px;
      }
      .row {
        padding: 0;
        // text-align: center;
      }
      &.backdrop-layer {
        width: 100%;
        background: #33cd5f;
        color: white;
        font-size: 18px;
        text-align: center;
      }
    }
  }
}

.search-bar {
  width: 100%;
  height: 100%;
  display: block;
  padding: 0;
  background: transparent;
  position: absolute;
  // left: 0 !important;
  // top: 0;
  // margin: 0;
  z-index: 999999;
  form {
    padding: 0;
    background: darken($energized, 20%);
    margin: 0;
    border: none;
    .item-input-wrapper {
      border-radius: 0;
      background: transparent;
      .placeholder-icon {
        color: white;
      }
      input {
        height: 45px;
        color: white;
      }
      input::-webkit-input-placeholder {
        color: white !important;
      }
    }
    .button {
      color: white;
      margin-right: 20px;
      margin-left: 20px;
    }
    &.animated {
      -webkit-animation-duration: 0.3s;
      animation-duration: 0.3s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }
  }
  .search-bar-backdrop {
    height: calc(100% - 45px);
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
  }
}

.duqhan-guarantee {
  padding: 10px;
  background-color: #e8e8e8;
  .stamp-wraper {
    background-image: url(../assets/images/duqhan-guarantee.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 5px 5px 5px 90px;
  }
}

.stamp-wraper {
  background-image: url(../assets/images/duqhan-guarantee.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
	background-size: auto 30px;
}

.return-policy {
  text-align: justify;
  .item {
    p {
      margin-bottom: 15px;
    }
    h2 {
      margin-bottom: 5px;
    }
  }
}

.bar {
  .title {
    &.title-left {
      text-transform: uppercase;
    }
  }
}

div.hscroller {
  // position: relative;
  // top: 50%;
  // -webkit-transform: translateY(-50%);
  // -ms-transform: translateY(-50%);
  // transform: translateY(-50%);
}

div.hscroller {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  padding: 10px 0;
  margin-bottom: 5px;
}

div.hscroller::-webkit-scrollbar {
  display: none;
}

div.hscroller-card {
  margin: 0 5px;
  -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border: 0px solid #000000;
  display: inline-block;
  padding: 10px;
  background-color: darken($energized, 15%);
  color: #fff;
}

div.hscroller-card:last-child {
  // margin-right: 10px;
}

@media screen and (min-width: 1025px) {
  div.hscroller {
    overflow-x: hidden;
  }
}

div.hscroller-card-animated-1 {
  animation: fadein 0.4s;
  -moz-animation: fadein 0.4s;
  -webkit-animation: fadein 0.4s;
  -o-animation: fadein 0.4s;
}

div.hscroller-card-animated-2 {
  animation: fadein 0.8s;
  -moz-animation: fadein 0.8s;
  -webkit-animation: fadein 0.8s;
  -o-animation: fadein 0.8s;
}

div.hscroller-card-animated-3 {
  animation: fadein 1.2s;
  -moz-animation: fadein 1.2s;
  -webkit-animation: fadein 1.2s;
  -o-animation: fadein 1.2s;
}

div.hscroller-card-animated-4 {
  animation: fadein 1.6s;
  -moz-animation: fadein 1.6s;
  -webkit-animation: fadein 1.6s;
  -o-animation: fadein 1.6s;
}

div.hscroller-card-animated-5 {
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s;
  -o-animation: fadein 2s;
}

div.hscroller-card-animated-6 {
  animation: fadein 2.4s;
  -moz-animation: fadein 2.4s;
  -webkit-animation: fadein 2.4s;
  -o-animation: fadein 2.4s;
}

div.hscroller-card-animated-7 {
  animation: fadein 2.8s;
  -moz-animation: fadein 2.8s;
  -webkit-animation: fadein 2.8s;
  -o-animation: fadein 2.8s;
}

div.hscroller-card-animated-8 {
  animation: fadein 3.2s;
  -moz-animation: fadein 3.2s;
  -webkit-animation: fadein 3.2s;
  -o-animation: fadein 3.2s;
}

div.hscroller-card-animated-9 {
  animation: fadein 3.6s;
  -moz-animation: fadein 3.6s;
  -webkit-animation: fadein 3.6s;
  -o-animation: fadein 3.6s;
}

div.hscroller-card-animated-10 {
  animation: fadein 4s;
  -moz-animation: fadein 4s;
  -webkit-animation: fadein 4s;
  -o-animation: fadein 4s;
}

div.hscroller-card-animated-11 {
  animation: fadein 4.4s;
  -moz-animation: fadein 4.4s;
  -webkit-animation: fadein 4.4s;
  -o-animation: fadein 4.4s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tab-item {
  span {
    font-size: 90%;
    text-transform: capitalize;
  }
}

.bar button.ion-custom-navicon {
  background: #e3640f url(../assets/images/navbar-icon.png) no-repeat center
    center;
  border: none;
  padding: 0;
  width: 60px;
  height: 44px;
  background-size: 22px auto;
  position: absolute;
  left: 0;
  top: 0;
}

.bar button.ion-custom-home {
	background: url(../assets/images/home-icon.png) no-repeat center center;
	border: none;
	padding: 0;
	width: 42px;
	height: 43px;
	background-size: 22px auto;
	position: relative;
	top: -5px;
}

.bar button.ion-custom-search {
	background: url(../assets/images/search-icon.png) no-repeat center center;
	border: none;
	padding: 0;
	width: 42px;
	height: 43px;
	background-size: 28px auto;
	position: relative;
	top: -4px;
}

.bar button.ion-custom-cart {
	background: url(../assets/images/cart-icon.png) no-repeat center center;
	border: none;
	padding: 0;
	width: 32px;
	height: 43px;
	background-size: 18px auto;
	position: relative;
  top: -6px;
  span {
    z-index: 1;
    min-width: 10px;
    border-radius: 50%;
    vertical-align: baseline;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
    font-size: 8px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    margin-left: auto;
    margin-right: -3px;
    margin-top: -15px;
    padding: 0 0;
  }
}

.bar button.ion-custom-icon {
  background: url(../assets/images/icon.png) no-repeat center center;
  border: none;
  padding: 0;
  width: 60px;
  height: 44px;
  background-size: 30px auto;
  position: relative;
  left: 55px;
  top: -6px;
}

.addToCart {
  background: #12b46a !important;
  color: #fff !important;
  height: 44px !important;
  font-size: 16px !important;
  vertical-align: middle !important;
  line-height: 35px !important;
  font-family: "Lato";
}

.slider-pager-page.active {
  color: #ff771c !important;
}
.button-bar .row {
	background: #ccc;
	padding: 0;
}
// Property List Modal
// -------------------------------
.property-list-modal {
  .bar.bar-footer {
    bottom: 0;
    .button {
      margin-top: 0; 
      margin-bottom: 0;
    }
  }
}