<ion-view view-title="About Duqhan">
  <ion-content class="padding">
    <div class="row responsive-lg">
      <div class="col">
        <ion-list>
          <ion-item class="item item-divider">
            About Duqhan
          </ion-item>
          <ion-item class="item item-text-wrap">
            <p>Duqhan is an eCommerce platform that lets users shop millions of products at deep discounts on their mobile phone.
              We have over 300 million users across the world, from Russia to Brazil to the United States to the far corners
              of the globe, and they love our product. We are the sixth largest eCommerce company in the world and we're
              shooting for #1.</p>
            <p>Who do we need to get there? You.</p>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-view>