<ion-view view-title="Terms & Conditions">
  <ion-content class="padding">
    <div class="row responsive-lg">
      <div class="col">
        <ion-list>
          <ion-item class="item item-divider">
            Terms & Conditions
          </ion-item>
          <ion-item class="item item-text-wrap">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum hendrerit orci, a mollis elit ultricies eget. Cras gravida scelerisque suscipit. Aliquam a placerat orci, at vestibulum urna. Nullam nec dui massa. Praesent consequat tincidunt enim.
            Vivamus purus libero, molestie tempus faucibus quis, porta ac nulla. Nam tempor, elit a porta egestas, leo urna pulvinar ex, vitae efficitur orci dui sed sapien. In enim sapien, blandit sit amet lobortis eu, cursus ac sem. Sed faucibus tempor
            euismod. Ut dignissim rutrum pellentesque. Mauris nec sollicitudin ipsum. Integer non elit sed felis sagittis lobortis at a ipsum. Vivamus vitae elit blandit, commodo sem ut, elementum tortor. Phasellus auctor erat eu felis pretium rhoncus.
            Donec pulvinar, mauris vitae ultrices porta, odio leo consequat mi, id efficitur tellus eros vel nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit, lacus ut vehicula scelerisque, ante turpis scelerisque ligula,
            ut ultricies purus mi ut ante. Donec condimentum, neque et tristique iaculis, dui magna ultricies ligula, vel varius justo lorem id augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer
            non purus vel sem lacinia aliquet. Nullam tristique aliquet mi, eget porta diam tempus et. In vel lacus dui. Maecenas vehicula, tortor pharetra egestas ornare, est nunc ornare ipsum, nec iaculis lacus augue maximus enim. Aenean a sem nec est
            feugiat blandit. Ut sit amet neque a ligula cursus pharetra. Proin egestas a metus sagittis elementum. Vivamus molestie est eu enim consectetur scelerisque. Proin commodo turpis eleifend dui vehicula venenatis. Nam nec nibh non metus lacinia
            facilisis. In accumsan quis augue semper consectetur. Curabitur enim risus, mollis ut vestibulum et, finibus nec massa. Sed eu semper dui. Nam hendrerit sapien eu dui lacinia, sed efficitur purus elementum. Vivamus nisi odio, scelerisque non
            consectetur vel, venenatis hendrerit diam. Etiam erat libero, cursus ornare nibh ac, euismod egestas magna. Nunc interdum erat eu facilisis tristique. Donec nec dignissim quam. Nam venenatis odio quis libero tristique, ac ultricies ligula
            mattis. Maecenas blandit odio non diam interdum tristique. Sed feugiat quam nec malesuada convallis. Donec at risus quis velit dictum porttitor. Interdum et malesuada fames ac ante ipsum primis in faucibus. In mi risus, luctus eget congue
            et, dictum vitae neque. Sed eget nibh eu lectus fermentum pharetra a eu lorem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc fringilla ligula sit amet varius gravida. Nam fringilla at lorem sed scelerisque. Curabitur vel
            dui a urna posuere fringilla. Curabitur imperdiet risus sit amet urna lobortis, sed mattis elit imperdiet. Mauris quis dui et ex bibendum tincidunt. Vivamus arcu metus, condimentum sed ornare tempus, rhoncus a justo. Sed ultrices imperdiet
            dolor vel interdum. Mauris tristique eu sapien vel scelerisque. Praesent ex arcu, interdum varius faucibus id, tincidunt a quam. Praesent luctus nibh nulla, id vulputate augue congue quis. Suspendisse pulvinar mauris sed magna tristique, sit
            amet accumsan arcu lobortis. Cras consectetur vel turpis quis convallis. Maecenas lacinia massa non metus lacinia vulputate nec sit amet justo. Donec ut lacus mollis dolor interdum facilisis at quis turpis. Donec consequat purus ac tortor
            tincidunt, nec aliquam arcu laoreet. Nam dapibus, purus sed pharetra placerat, metus enim vestibulum arcu, sit amet blandit eros massa vitae mi. Duis pulvinar mi sem, venenatis imperdiet orci venenatis in. Fusce malesuada non ex ut rhoncus.
            Curabitur eu tincidunt magna, nec elementum neque. Nam auctor odio diam, vel pharetra nisl accumsan quis.
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-view>