<ion-view view-title="Terms & Conditions">
  <ion-content class="padding">
    <div class="row responsive-lg">
      <div class="col">
        <ion-list>
          <ion-item class="item item-divider">
            Terms & Conditions
          </ion-item>
          <ion-item class="item item-text-wrap">
            <p><strong>PLEASE NOTE: THE SECTION OF THESE TERMS OF USE ENTITLED “DISPUTE RESOLUTION” CONTAINS AN ARBITRATION CLAUSE THAT REQUIRES DISPUTES TO BE ARBITRATED ON AN INDIVIDUAL BASIS, AND PROHIBITS CLASS ACTION CLAIMS. IT AFFECTS HOW DISPUTES BETWEEN YOU AND Duqhan ARE RESOLVED. BY ACCEPTING THESE TERMS OF USE, YOU AGREE TO BE BOUND BY THIS ARBITRATION PROVISION. PLEASE READ IT CAREFULLY.</strong></p>
            <p><strong>PLEASE NOTE THAT YOUR USE OF AND ACCESS TO OUR SERVICES (DEFINED BELOW) ARE SUBJECT TO THE FOLLOWING TERMS; IF YOU DO NOT AGREE TO ALL OF THE FOLLOWING, YOU MAY NOT USE OR ACCESS THE SERVICES IN ANY MANNER.</strong></p>
            <h2>Terms Of Use</h2>
            <p>Effective date: July 15, 2016</p>
            <p>Please read on to learn the rules and restrictions that govern your use of our website(s), products, services
              and applications (the “Services”). If you have any questions, comments, or concerns regarding these terms or
              the Services, please contact us at admin@duqhan.com, or at Durga Sridevi Desu, H. No 16-11-19 8 2 A-b saleem
              Nagar Colony, Malakpet, Dilsukhnagar Road, Hyderabad, Telangana, 500 036.</p>
            <p>These Terms of Use (the “Terms”) are a binding contract between you and Duqhan, Inc. (“Duqhan,” “we” and “us”).
              You must agree to and accept all of the Terms, or you don’t have the right to use the Services. Your using
              the Services in any way means that you agree to all of these Terms, and these Terms will remain in effect while
              you use the Services. These Terms include the provisions in this document, as well as those in the Privacy
              Policy
            </p>
            <h2>Will these Terms ever change?</h2>
            <p>We are constantly trying to improve our Services, so these Terms may need to change along with the Services.
              We reserve the right to change the Terms at any time, but if we do, we will bring it to your attention by placing
              a notice on the Services, by sending you an email, and/or by some other means. If you don’t agree with the
              new Terms, you are free to reject them; unfortunately, that means you will no longer be able to use the Services.
              If you use the Services in any way after a change to the Terms is effective, that means you agree to all of
              the changes.</p>
            <p>Except for changes by us as described here, no other amendment or modification of these Terms will be effective
              unless in writing and signed by both you and us.</p>
            <h2>What about my privacy?</h2>
            <p>Duqhan takes the privacy of its users very seriously. For the current Duqhan Privacy Policy, please visit our
              privacy policy.</p>
            <p>The Children’s Online Privacy Protection Act (“COPPA”) requires that online service providers obtain parental
              consent before they knowingly collect personally identifiable information online from children who are under
              13. We do not knowingly collect or solicit personally identifiable information from children under 13; if you
              are a child under 13, please do not attempt to register for the Services or send any personal information about
              yourself to us. Parents and legal guardians may not agree to these Terms or register for the Services on behalf
              of any children under the age of 13. If we learn we have collected personal information from a child under
              13, we will delete that information as quickly as possible. If you believe that a child under 13 may have provided
              us personal information, please contact us at admin@duqhan.com.</p>
            <h2>What are the basics of using the Services?</h2>
            <p>You may be required to sign up for an account, and select a password and user name (“Duqhan User ID”). You promise
              to provide us with accurate, complete, and updated registration information about yourself. You may not select
              as your Duqhan User ID a name that you don’t have the right to use, or another person’s name with the intent
              to impersonate that person. You may not transfer your account to anyone else without our prior written permission.</p>
            <p>You represent and warrant that you are an individual of legal age to form a binding contract (or if not, you’ve
              received your parent’s or guardian’s permission to use the Services and gotten your parent or guardian to agree
              to these Terms on your behalf).</p>
            <p>You will only use the Services for your own internal, personal, use, and not on behalf of or for the benefit
              of any third party, and only in a manner that complies with all laws that apply to you. If your use of the
              Services is prohibited by any applicable laws, then you aren’t authorized to use the Services. We can’t and
              won’t be responsible for your using the Services in a way that breaks the law.</p>
            <p>You will not share your account or password with anyone, and you must protect the security of your account and
              your password. You’re responsible for any activity associated with your account.</p>
            <p>You may have multiple accounts on Duqhan but Duqhan strictly forbids the use of multiple accounts for the same
              sole user or the use of one account for multiple users for the purpose of earning more rewards. Duqhan will
              not honor rewards earned from such accounts.</p>
            <p>By using the Services, you will automatically be deemed to have opted in to receive e-mail communication from
              us. When you sign in for the first time, your preferences will be set to automatically publish all social interactions
              to other social networks. However, you will be able to edit these preferences at any time under “Settings.”</p>
            <p><strong>Your use of the Services is subject to the following additional restrictions:</strong></p>
            <p>You represent, warrant, and agree that you will not contribute any Content or User Submission (each of those
              terms is defined below) or otherwise use the Services or interact with the Services in a manner that:</p>
            <ol>
              <li>Infringes or violates the intellectual property rights or any other rights of anyone else (including Duqhan);</li>
              <li>Violates any law or regulation, including any applicable export control laws;</li>
              <li>Is harmful, fraudulent, deceptive, threatening, harassing, defamatory, obscene, or otherwise objectionable;</li>
              <li>Jeopardizes the security of your Duqhan account or anyone else’s (such as allowing someone else to log in to
                the Services as you);</li>
              <li>Attempts, in any manner, to obtain the password, account, or other security information from any other user;</li>
              <li>Violates the security of any computer network, or cracks any passwords or security encryption codes;</li>
              <li>Runs Maillist, Listserv, any form of auto-responder or “spam” on the Services, or any processes that run or
                are activated while you are not logged into the Services, or that otherwise interfere with the proper working
                of the Services (including by placing an unreasonable load on the Services’ infrastructure);</li>
              <li>“Crawls,” “scrapes,” or “spiders” any page, data, or portion of or relating to the Services or Content (through
                use of manual or automated means);</li>
              <li>Copies or stores any significant portion of the Content;</li>
              <li>Decompiles, reverse engineers, or otherwise attempts to obtain the source code or underlying ideas or information
                of or relating to the Services; or </li>
            </ol>
            <p>A violation of any of the foregoing is grounds for termination of your right to use or access the Services.</p>
            <h2>What are my rights in the Services?</h2>
            <p>The materials displayed or performed or available on or through the Services, including, but not limited to,
              text, graphics, data, articles, photos, images, illustrations, User Submissions, and so forth (all of the foregoing,
              the “Content”) are protected by copyright and/or other intellectual property laws. You promise to abide by
              all copyright notices, trademark rules, information, and restrictions contained in any Content you access through
              the Services, and you won’t use, copy, reproduce, modify, translate, publish, broadcast, transmit, distribute,
              perform, upload, display, license, sell or otherwise exploit for any purpose any Content not owned by you,
              (i) without the prior consent of the owner of that Content or (ii) in a way that violates someone else’s (including
              Duqhan’s) rights.</p>
            <p>You understand that Duqhan owns the Services. You won’t modify, publish, transmit, participate in the transfer
              or sale of, reproduce (except as expressly provided in this Section), create derivative works based on, or
              otherwise exploit any of the Services.</p>
            <p>The Services may allow you to copy or download certain Content; please remember that just because this functionality
              exists, doesn’t mean that all the restrictions above don’t apply – they do!</p>
            <h2>Do I have to grant any licenses to Duqhan or to other users?</h2>
            <p> Anything you post, upload, share, store, or otherwise provide through the Services is your “User Submission.”
              Some User Submissions are viewable by other users. In order to display your User Submissions on the Services,
              and to allow other users to enjoy them (where applicable), you grant us certain rights in those User Submissions.
              Please note that all of the following licenses are subject to our Privacy Policy to the extent they relate
              to User Submissions that are also your personally-identifiable information.</p>
            <p> For all User Submissions, you hereby grant Duqhan a license to translate, modify (for technical purposes, for
              example making sure your content is viewable on an iPhone as well as a computer) and reproduce and otherwise
              act with respect to such User Submissions, in each case to enable us to operate the Services, as described
              in more detail below. This is a license only – your ownership in User Submissions is not affected. </p>
            <p> If you store a User Submission in your own personal Duqhan account, in a manner that is not viewable by any other
              user except you (a “Personal User Submission”), you grant Duqhan the license above, as well as a license to
              display, perform, and distribute your Personal User Submission for the sole purpose of making that Personal
              User Submission accessible to you and providing the Services necessary to do so. </p>
            <p> If you share a User Submission only in a manner that only certain specified users can view (for example, a private
              message to one or more other users)(a “Limited Audience User Submission”), then you grant Duqhan the licenses
              above, as well as a license to display, perform, and distribute your Limited Audience User Submission for the
              sole purpose of making that Limited Audience User Submission accessible to such other specified users, and
              providing the Services necessary to do so. Also, you grant such other specified users a license to access that
              Limited Audience User Submission, and to use and exercise all rights in it, as permitted by the functionality
              of the Services. </p>
            <p> If you share a User Submission publicly on the Services and/or in a manner that more than just you or certain
              specified users can view, or if you provide us (in a direct email or otherwise) with any feedback, suggestions,
              improvements, enhancements, and/or feature requests relating to the Services (each of the foregoing, a “Public
              User Submission”), then you grant Duqhan the licenses above, as well as a license to display, perform, and
              distribute your Public User Submission for the purpose of making that Public User Submission accessible to
              all Duqhan users and providing the Services necessary to do so, as well as all other rights necessary to use
              and exercise all rights in that Public User Submission in connection with the Services and/or otherwise in
              connection with Duqhan’s business, provided that Duqhan will try to notify you if it uses your Public User
              Submission for any reason other than displaying it on the Services. Also, you grant all other users of the
              Services a license to access that Public User Submission, and to use and exercise all rights in it, as permitted
              by the functionality of the Services. </p>
            <p> You agree that the licenses you grant are royalty-free, perpetual, sublicenseable, irrevocable, and worldwide.
            </p>
            <p> Finally, you understand and agree that Duqhan, in performing the required technical steps to provide the Services
              to our users (including you), may need to make changes to your User Submissions to conform and adapt those
              User Submissions to the technical requirements of connection networks, devices, services, or media, and the
              foregoing licenses include the rights to do so. </p>
            <h2>What if I see something on the Services that infringes my copyright?</h2>
            <p> You may have heard of the Digital Millennium Copyright Act (the “DMCA”), as it relates to online service providers,
              like Duqhan, being asked to remove material that allegedly violates someone’s copyright. We respect others’
              intellectual property rights, and we reserve the right to delete or disable Content alleged to be infringing,
              and to terminate the accounts of repeat alleged infringers; to review our complete Copyright Dispute Policy
              and learn how to report potentially infringing content.
            </p>
            <h2>Who is responsible for what I see and do on the Services?</h2>
            <p> Any information or content publicly posted or privately transmitted through the Services is the sole responsibility
              of the person from whom such content originated, and you access all such information and content at your own
              risk, and we aren’t liable for any errors or omissions in that information or content or for any damages or
              loss you might suffer in connection with it. We cannot control and have no duty to take any action regarding
              how you may interpret and use the Content or what actions you may take as a result of having been exposed to
              the Content, and you hereby release us from all liability for you having acquired or not acquired Content through
              the Services. We can’t guarantee the identity of any users with whom you interact in using the Services and
              are not responsible for which users gain access to the Services. </p>
            <p> You are responsible for all Content you contribute, in any manner, to the Services, and you represent and warrant
              you have all rights necessary to do so, in the manner in which you contribute it. You will keep all your registration
              information accurate and current. You are responsible for all your activity in connection with the Services.
            </p>
            <p> The Services may contain links or connections to third party websites or services that are not owned or controlled
              by Duqhan. When you access third party websites or use third party services, you accept that there are risks
              in doing so, and that Duqhan is not responsible for such risks. We encourage you to be aware when you leave
              the Services and to read the terms and conditions and privacy policy of each third party website or service
              that you visit or utilize. </p>
            <p> Duqhan has no control over, and assumes no responsibility for, the content, accuracy, privacy policies, or practices
              of or opinions expressed in any third party websites or by any third party that you interact with through the
              Services. In addition, Duqhan will not and cannot monitor, verify, censor or edit the content of any third
              party site or service. By using the Services, you release and hold us harmless from any and all liability arising
              from your use of any third party website or service. </p>
            <p> Your interactions with organizations and/or individuals found on or through the Services, including payment and
              delivery of goods or services, and any other terms, conditions, warranties or representations associated with
              such dealings, are solely between you and such organizations and/or individuals. You should make whatever investigation
              you feel necessary or appropriate before proceeding with any online or offline transaction with any of these
              third parties. You agree that Duqhan shall not be responsible or liable for any loss or damage of any sort
              incurred as the result of any such dealings. In particular, and without limiting the foregoing, you agree that
              Duqhan does not facilitate (and bears no responsibility or liability for) any transaction (or payment or refund
              therefore) arranged through Duqhan Local. </p>
            <p> If there is a dispute between participants on this site, or between users and any third party, you agree that
              Duqhan is under no obligation to become involved. In the event that you have a dispute with one or more other
              users, you release Duqhan, its officers, employees, agents, and successors from claims, demands, and damages
              of every kind or nature, known or unknown, suspected or unsuspected, disclosed or undisclosed, arising out
              of or in any way related to such disputes and/or our Services. </p>
            <p> YOU SHALL AND HEREBY DO WAIVE Telangana CIVIL CODE SECTION 1542, WHICH SAYS: "A GENERAL RELEASE DOES NOT EXTEND
              TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS OR HER FAVOR AT THE TIME OF EXECUTING
              THE RELEASE, WHICH, IF KNOWN BY HIM OR HER MUST HAVE MATERIALLY AFFECTED HIS OR HER SETTLEMENT WITH THE DEBTOR."</p>
            <h2>Will Duqhan ever change the Services?</h2>
            <p>We’re always trying to improve the Services, so they may change over time. We may suspend or discontinue any
              part of the Services, or we may introduce new features or impose limits on certain features or restrict access
              to parts or all of the Services. We’ll try to give you notice when we make a material change to the Services
              that would adversely affect you, but this isn’t always practical. Similarly, we reserve the right to remove
              any Content from the Services at any time, for any reason (including, but not limited to, if someone alleges
              you contributed that Content in violation of these Terms), in our sole discretion, and without notice.</p>
            <h2>Do the Services cost anything?</h2>
            <p>It is currently free to access and browse Duqhan.com or any other Services. However, you may choose to purchase
              products through the Services, and you alone will be responsible for paying the purchase price of any products
              you buy, in addition to any taxes and shipping costs. Duqhan may limit or cancel quantities of products purchased,
              and it reserves the right to refuse any order. In the event Duqhan needs to make a change to an order, it will
              attempt to notify you by contacting the email address, billing address, and/or phone number provided at the
              time the order was made. Prices are subject to change at any time. Due to separate and applicable tax jurisdictions,
              your purchases may be subject to specific sales, custom or value-added taxes, and the shipping time and associated
              cost may increase accordingly.</p>
            <p>Duqhan reserves the right to require payment of fees for certain or all Services, in addition to the fees charged
              for the purchase of products. You shall pay all such fees, as described on the website in connection with such
              Services selected by you. Duqhan reserves the right to change its price list and to institute new charges at
              any time, upon notice to you, which may be sent by email or posted on the Website. Your use of the Services
              following such notification constitutes your acceptance of any new or increased charges.</p>
            <h2>What if I need to return a purchase?</h2>
            <p> We want you to be completely satisfied with your purchase on the Services. If for any reason you are unhappy,
              please contact Duqhan support at admin@duqhan.com.</p>
            <p> You may return all products within 30 days of delivery. You can initiate a return or a refund on items from your
              Order History page. Simply click on ‘Contact Support’ next to the item you Duqhan to request a return or a
              refund and Duqhan Support will be ready to assist. </p>
            <p> We aim to process all requests within 72 hours upon receiving. Refunds are issued back to the original form of
              payment used to purchase the order. Should you have any questions about the status of your refund, your return
              or your account, please feel free to contact Duqhan support at admin@duqhan.com. For more information on our
              Return Policy, visit our return policy. </p>
            <p> If a Duqhan promotional credit is applied to an order and that order is refunded for any reason, any promotional
              credit used in that order will not be refunded. </p>
            <p> Duqhan cannot refund, reimburse, cover, or otherwise be responsible for any fees not paid to Duqhan. This includes
              any customs taxes or VAT as well as any return shipping costs you may incur in the refund process.</p>
            <p> However, the foregoing refund and return terms DO NOT apply to any product you purchase by using Duqhan Local.
              Transactions conducted by using Duqhan Local are entirely between you and the other user of Duqhan Local.</p>
            <h2>What if I want to stop using the Services?</h2>
            <p> You’re free to do that at any time, by following the steps. please refer to our Privacy Policy, as well as the
              licenses above, to understand how we treat information you provide to us after you have stopped using our Services.
              Duqhan is also free to terminate (or suspend access to) your use of the Services or your account, for any reason
              in our discretion, including your breach of these Terms. Duqhan has the sole right to decide whether you are
              in violation of any of the restrictions set forth in these Terms.</p>
            <p>Account termination may result in destruction of any Content associated with your account, so keep that in mind
              before you decide to terminate your account.</p>
            <p>Provisions that, by their nature, should survive termination of these Terms shall survive termination. By way
              of example, all of the following will survive termination: any obligation you have to pay us or indemnify us,
              any limitations on our liability, any terms regarding ownership or intellectual property rights, and terms
              regarding disputes between us.</p>
            <h2>I use the Duqhan App via the Apple App Store – should I know anything about that?</h2>
            <p>These Terms apply to your use of all the Services, including the applications available via the Apple, Inc. (“Apple”)
              App Store (including, without limitation, for iPhone, iPad, iTouch, and iWatch) (each an “Application” and,
              collectively, the “Applications”), but the following additional terms also apply to each Application:</p>
            <ol>
              <li>Both you and Duqhan acknowledge that the Terms are concluded between you and Duqhan only, and not with Apple,
                and that Apple is not responsible for the Application or the Content;</li>
              <li>The Application is licensed to you on a limited, non-exclusive, non-transferrable, non-sublicensable basis,
                solely to be used in connection with the Services for your private, personal, non-commercial use, subject
                to all the terms and conditions of these Terms as they are applicable to the Services;</li>
              <li>You will only use the Application in connection with an Apple device that you own or control;</li>
              <li>You acknowledge and agree that Apple has no obligation whatsoever to furnish any maintenance and support services
                with respect to the Application;</li>
              <li>In the event of any failure of the Application to conform to any applicable warranty, including those implied
                by law, you may notify Apple of such failure; upon notification, Apple’s sole warranty obligation to you
                will be to refund to you the purchase price, if any, of the Application;</li>
              <li>You acknowledge and agree that Duqhan, and not Apple, is responsible for addressing any claims you or any third
                party may have in relation to the Application;</li>
              <li>You acknowledge and agree that, in the event of any third party claim that the Application or your possession
                and use of the Application infringes that third party’s intellectual property rights, Duqhan, and not Apple,
                will be responsible for the investigation, defense, settlement and discharge of any such infringement claim;</li>
              <li>You represent and warrant that you are not located in a country subject to a U.S. Government embargo, or that
                has been designated by the U.S. Government as a “terrorist supporting” country, and that you are not listed
                on any U.S. Government list of prohibited or restricted parties;</li>
              <li>Both you and Duqhan acknowledge and agree that, in your use of the Application, you will comply with any applicable
                third party terms of agreement which may affect or be affected by such use; and</li>
              <li>Both you and Duqhan acknowledge and agree that Apple and Apple’s subsidiaries are third party beneficiaries
                of these Terms, and that upon your acceptance of these Terms, Apple will have the right (and will be deemed
                to have accepted the right) to enforce these Terms against you as the third party beneficiary hereof.</li>
            </ol>
            <h2>What else do I need to know?</h2>
            <p><strong>Warranty Disclaimer.</strong> Neither Duqhan nor its licensors or suppliers makes any representations
              or warranties concerning any content contained in or accessed through the Services, and we will not be responsible
              or liable for the accuracy, copyright compliance, legality, or decency of material contained in or accessed
              through the Services. We (and our licensors and suppliers) make no representations or warranties regarding
              suggestions or recommendations of services or products offered or purchased through the Services. Products
              and services purchased or offered (whether or not following such recommendations and suggestions) through the
              Services are provided “AS IS” and without any warranty of any kind from Duqhan or others (unless, with respect
              to such others only, provided expressly and unambiguously in writing by a designated third party for a specific
              product). THE SERVICES AND CONTENT ARE PROVIDED BY Duqhan (AND ITS LICENSORS AND SUPPLIERS) ON AN “AS-IS” BASIS,
              WITHOUT WARRANTIES OR ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES
              OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, OR THAT USE OF THE SERVICES WILL BE
              UNINTERRUPTED OR ERROR-FREE. SOME STATES DO NOT ALLOW LIMITATIONS ON HOW LONG AN IMPLIED WARRANTY LASTS, SO
              THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.</p>
            <p><strong>Limitation of Liability.</strong> TO THE FULLEST EXTENT ALLOWED BY APPLICABLE LAW, UNDER NO CIRCUMSTANCES
              AND UNDER NO LEGAL THEORY (INCLUDING, WITHOUT LIMITATION, TORT, CONTRACT, STRICT LIABILITY, OR OTHERWISE) SHALL
              Duqhan (OR ITS LICENSORS OR SUPPLIERS) BE LIABLE TO YOU OR TO ANY OTHER PERSON FOR (A) ANY INDIRECT, SPECIAL,
              INCIDENTAL, OR CONSEQUENTIAL DAMAGES OF ANY KIND, INCLUDING DAMAGES FOR LOST PROFITS, LOSS OF GOODWILL, WORK
              STOPPAGE, ACCURACY OF RESULTS, OR COMPUTER FAILURE OR MALFUNCTION, OR (B) ANY AMOUNT, IN THE AGGREGATE, IN
              EXCESS OF THE GREATER OF (I) $100 OR (II) THE AMOUNTS PAID BY YOU TO Duqhan IN CONNECTION WITH THE SERVICES
              IN THE TWELVE (12) MONTH PERIOD PRECEDING THIS APPLICABLE CLAIM, OR (III) ANY MATTER BEYOND OUR REASONABLE
              CONTROL. SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES, SO THE ABOVE LIMITATION AND
              EXCLUSIONS MAY NOT APPLY TO YOU.</p>
            <p><strong>Indemnity.</strong> To the fullest extent allowed by applicable law, You agree to indemnify and hold
              Duqhan, its affiliates, officers, agents, employees, and partners harmless from and against any and all claims,
              liabilities, damages (actual and consequential), losses and expenses (including attorneys’ fees) arising from
              or in any way related to any third party claims relating to (a) your use of the Services (including any actions
              taken by a third party using your account), and (b) your violation of these Terms. In the event of such a claim,
              suit, or action (“Claim”), we will attempt to provide notice of the Claim to the contact information we have
              for your account (provided that failure to deliver such notice shall not eliminate or reduce your indemnification
              obligations hereunder).</p>
            <p><strong>Assignment.</strong> You may not assign, delegate or transfer these Terms or your rights or obligations
              hereunder, or your Services account, in any way (by operation of law or otherwise) without Duqhan’s prior written
              consent. We may transfer, assign, or delegate these Terms and our rights and obligations without consent.</p>
            <p><strong>Choice Of Law & Jurisdiction.</strong>These Terms and your use of the Services will be interpreted in
              accordance with the law of the State Government of Telangana and the Indian Suprime Court, without regard to
              their conflict-of-law provisions. You and Duqhan agree to submit to the personal jurisdiction of a state court
              located in Telangana for any actions which the parties retain the right to seek injunctive or other equitable
              relief in a court of competent jurisdiction to prevent the actual or threatened infringement, misappropriation,
              or violation of a party’s copyrights, trademarks, trade secrets, patents, or other intellectual property rights,
              as set forth in the Dispute Resolution provision below.
            </p>
            <p><strong>Miscellaneous.</strong> You will be responsible for paying, withholding, filing, and reporting all taxes,
              duties, and other governmental assessments associated with your activity in connection with the Services, provided
              that the Duqhan may, in its sole discretion, do any of the foregoing on your behalf or for itself as it sees
              fit. The failure of either you or us to exercise, in any way, any right herein shall not be deemed a waiver
              of any further rights hereunder. If any provision of these Terms is found to be unenforceable or invalid, that
              provision will be limited or eliminated, to the minimum extent necessary, so that these Terms shall otherwise
              remain in full force and effect and enforceable. You and Duqhan agree that these Terms are the complete and
              exclusive statement of the mutual understanding between you and Duqhan, and that it supersedes and cancels
              all previous written and oral agreements, communications and other understandings relating to the subject matter
              of these Terms. You hereby acknowledge and agree that you are not an employee, agent, partner, or joint venture
              of Duqhan, and you do not have any authority of any kind to bind Duqhan in any respect whatsoever. Except as
              expressly set forth in the section above regarding the Apple Applications, you and Duqhan agree there are no
              third party beneficiaries intended under these Terms.</p>
            <p><strong>Dispute Resolution.</strong></p>
            <p><strong>Mandatory, Bilateral Arbitration and Waiver of Class Actions.</strong></p>
            <p><strong>Please read this carefully. It affects your rights. YOU AND Duqhan AGREE THAT ANY DISPUTE, CONTROVERSY, OR CLAIM ARISING OUT OF, OR RELATING TO YOUR USE OF Duqhan, TO ANY PRODUCTS OR SERVICES SOLD OR DISTRIBUTED BY OR THROUGH Duqhan, TO THIS AGREEMENT, OR TO THE CONTENT, AND/OR USER SUBMISSION (PUBLIC, PERSONAL AND/OR LIMITED AUDIENCE) ON Duqhan SHALL BE RESOLVED ONLY BY FINAL AND BINDING, BILATERAL ARBITRATION, except that (1) you may assert claims in small claims court if your claims qualify; and (2) this agreement to arbitrate does not include your or Duqhan’s right to seek injunctive or other equitable relief in state or supreme court in India to prevent the actual or threatened infringement, misappropriation or violation of a party’s copyrights, trademarks, trade secrets, patents, or other intellectual property rights.</strong></p>
            <p><strong>There is no judge or jury in arbitration, and court review of an arbitration award is limited. An arbitrator, however, can award on individual basis the same damages and relief as a court (including injunctive and declaratory relief or statutory damages), and must follow the terms of these Terms of Use.</strong></p>
            <p>“Disputes” shall include, but are not limited to, any claims or controversies between you and Duqhan against
              each other related in any way to or arising out of in any way from the Service, the Content, User Submission
              (Public, Personal, and/or Limited Audience), including but not limited to sales, returns, refunds, cancellations,
              defects, policies, privacy, advertising, or any communications between you and Duqhan, even if the claim arises
              after you or Duqhan has terminated Service or a user account. Disputes also include, but are not limited to,
              claims that: (a) you bring against our employees, agents, affiliates, or other representatives; or (b) that
              Duqhan brings against you. Disputes also include, but are not limited to, (i) claims in any way related to
              or arising out of any aspect of the relationship between you and Duqhan, whether based in contract, tort, statute,
              fraud, misrepresentation, advertising claims, or any other legal theory; (ii) claims that arose before these
              Terms or out of a prior set of Terms with Duqhan; (iii) claims that are subject to on-going litigation where
              you are not a party or a class member; and/or (iv) claims that arise after the termination of these Terms.</p>
            <p><strong>Dispute Notice</strong></p>
            <p>Before initiating an arbitration, you and Duqhan each agree to first provide the other a written notice (“Notice
              of Dispute”), which shall contain: (a) a written description of the problem and relevant documents and supporting
              information; and (b) a statement of the specific relief sought. A Notice of Dispute should be sent to: Durga
              Sridevi Desu, H. No 16-11-19 8 2 A-b saleem Nagar Colony, Malakpet, Dilsukhnagar Road, Hyderabad, Telangana,
              500 036 or emailed at admin@duqhan.com. Duqhan will provide a Notice of Dispute to you via the email address
              associated with your Duqhan User ID. You and Duqhan agree to make attempts to resolve the Dispute prior to
              commencing an arbitration and not to commence an arbitration proceeding until this 45-day post-notice resolution
              period expires. If an agreement cannot be reached within forty-five (45) days of receipt of the Notice of Dispute,
              you or Duqhan may commence an arbitration proceeding.</p>
            <p><strong>Arbitration Process and Procedure</strong></p>
            <p>Unless you and Duqhan agree otherwise in writing, arbitration shall (1) be administered by the Judicial Arbitration
              and Mediation Services, Inc. (“JAMS”), pursuant to the JAMS Streamlined Arbitration Rules & Procedures then
              in effect (the “JAMS Rules”) and as modified by this agreement to arbitrate, including the rules regarding
              filing, administration, discovery, and arbitrator fees; (2) be conducted by a single, neutral arbitrator; and
              (3) take place in the county where you reside. To the extent that this agreement to arbitrate conflicts with
              the JAMS Policy on Consumer Arbitrations Pursuant to Pre-Dispute Clauses Minimum Standards for Procedural Fairness
              (the “Minimum Standards”), the Minimum Standards in that regard will apply.</p>
            <p><strong>We each agree that any dispute resolution proceedings will be conducted only on an individual basis and not in a class or representative action.</strong>              Further, unless both you and Duqhan expressly agree otherwise, the arbitrator may not consolidate more than
              one person’s claims. If this prohibition of class, representative, or consolidated arbitration is found to
              be unenforceable, then the entirety of this arbitration provision shall be null and void.</p>
            <p><strong>If, for any reason, a claim proceeds in court rather than in arbitration, we each waive our right to a jury trial.</strong></p>
            <p><strong>YOU THEREFORE UNDERSTAND AND AGREE THAT BY ENTERING INTO THIS AGREEMENT, YOU AND Duqhan ARE EACH WAIVING THE RIGHT TO A TRIAL BY JURY AND THE RIGHT TO PARTICIPATE IN A CLASS ACTION FOR ANY CLAIMS COVERED BY THIS AGREEMENT.</strong></p>
            <p>The arbitrator may award declaratory or injunctive relief only in favor of the individual party seeking relief
              and only to the extent necessary to provide relief warranted by that party's individual claim.</p>
            <p>The JAMS Rules are available on its website. Notwithstanding any JAMS Rules to the contrary or any other provision
              in the arbitration rules chosen, by agreement, to govern, you and Duqhan each agree that all issues regarding
              the Dispute are delegated to the arbitrator to decide, except that only a court (and not the arbitrator) shall
              decide any disagreements regarding the scope and enforceability of this agreement to arbitrate.</p>
            <p><strong>Hearing</strong></p>
            <p>If your claim does not exceed $5,000, you and Duqhan agree to waive an oral hearing by the arbitrator and the
              arbitration will be conducted solely on the basis of documents you and Duqhan submit to the arbitrator, unless
              you request a hearing or the arbitrator determines that a hearing is necessary. To the extent an oral hearing
              is requested by you or Duqhan, or deemed necessary by the arbitrator, you and Duqhan agree that the hearing
              will be conducted telephonically or videographically.</p>
            <p><strong>Arbitrator’s Decision</strong></p>
            <p>An arbitrator’s award will be a written statement of the disposition of each claim and will also provide a concise
              written statement of the essential findings and conclusions which form the basis of the award. The arbitrator’s
              decision and award is final and binding, with some limited court review under the FAA, and judgment on the
              award may be entered in any court of competent jurisdiction.</p>
            <p><strong>Fees</strong></p>
            <p>It is each parties’ responsibility to pay any JAMS filing, case management/administrative, and arbitrator fees
              as set forth in the JAMS Rules. If your claim for damages does not exceed $5,000, Duqhan will pay all such
              fees unless the arbitrator finds that either the substance of your Dispute or the relief sought was frivolous
              or was brought for an improper purpose (as measured by the standards set forth in the Federal Rule of Civil
              Procedure 11(b)).
            </p>
            <p><strong>Small Claims & Government Actions</strong></p>
            <p>As an alternative to arbitration, you or Duqhan may resolve Disputes in a small claims court that has jurisdiction
              over your claim. These Terms and this arbitration agreement do not prevent you from bringing your Dispute to
              the attention of any federal, state, or local government agency. Such agencies can, if the law allows, seek
              relief against Duqhan on your behalf.</p>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-view>