<ion-view view-title="Change Password">
  <!-- do you want padding? -->
  <ion-content class="padding authenticate">

    <!-- content goes here -->
    <ion-list class="list-inset">
      <ion-item class="item text-center">
        <div class="logo-wrapper">
          <img class="logo" src="main/assets/images/logo.png" style="width: 56px; height: 55px">
          <p class="logo-text">Duqhan</p>
        </div>
      </ion-item>
      <ion-item class="item item-input">
        <i class="icon ion-ios-keypad-outline placeholder-icon"></i>
        <input name="resetCode" type="text" placeholder="Reset Code" ng-model="ctrl.user.resetCode">
      </ion-item>
      <ion-item class="item item-input">
        <i class="icon ion-ios-locked-outline placeholder-icon"></i>
        <input name="password" type="password" placeholder="Password" ng-model="ctrl.user.newPassword">
      </ion-item>
      <ion-item class="item item-button">
        <button class="button button-block button-positive" ng-click="ctrl.confirmPasswordReset()">
          Set New Password
        </button>
      </ion-item>
      <ion-item class="item item-divider">
        <div class="">
          <button class="button button-clear button-stable" ui-sref="forgot-password">
            Didn't recieved Reset Code?
          </button>
        </div>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>