<ion-view view-title="Forgot Password">
  <!-- do you want padding? -->
  <ion-content class="padding authenticate">

    <!-- content goes here -->
    <ion-list class="list-inset">
      <ion-item class="item text-center">
        <div class="logo-wrapper">
          <img class="logo" src="main/assets/images/logo.png" style="width: 56px; height: 55px">
          <p class="logo-text">Duqhan</p>
        </div>
      </ion-item>

      <form name="ctrl.requestPasswordResetForm" ng-submit="ctrl.requestPasswordReset()" novalidate="">
        <ion-item class="item item-input" ng-class="{ 'has-errors' : ctrl.requestPasswordResetForm.email.$invalid, 'no-errors' : ctrl.requestPasswordResetForm.email.$valid}">
          <i class="icon ion-ios-email-outline placeholder-icon"></i>
          <input name="email" type="email" placeholder="E-Mail" ng-model="ctrl.user.email" required="">
        </ion-item>
        <div class="error-container" ng-show="ctrl.requestPasswordResetForm.email.$error && ctrl.requestPasswordResetForm.$submitted" ng-messages="ctrl.requestPasswordResetForm.email.$error">
          <div ng-messages-include="error-list.html"></div>
        </div>

        <div class="error server-side text-center m-t-md" ng-show="ctrl.responseCB && ctrl.requestPasswordResetForm.$submitted">
          <i class="ion-information-circled"></i> {{ctrl.responseCB}}
        </div>

        <ion-item class="item item-button">
          <button class="button button-block button-positive">
            Email Verification Code
          </button>
        </ion-item>
      </form>

      <ion-item class="item item-divider">
        <div class="">
          <button class="button button-clear button-stable" ui-sref="login">
            Nevermind, I Remember
          </button>
        </div>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>

<script id="error-list.html" type="text/ng-template">  
  <div class="error" ng-message="required">
    <i class="ion-information-circled"></i> 
    This field is required!
  </div>
  <div class="error" ng-message="email">
    <i class="ion-information-circled"></i> 
    This is not a valid email!
  </div>
</script>