<ion-view view-title="Forgot Password">
  <!-- do you want padding? -->
  <ion-content class="padding authenticate">

    <!-- content goes here -->
    <ion-list class="list-inset">
      <ion-item class="item text-center">
        <div class="logo-wrapper">
          <img class="logo" src="main/assets/images/logo.png" style="width: 56px; height: 55px">
          <p class="logo-text">Duqhan</p>
        </div>
      </ion-item>
      <ion-item class="item item-input">
        <i class="icon ion-ios-email-outline placeholder-icon"></i>
        <input name="email" type="email" placeholder="E-Mail" ng-model="ctrl.user.email">
      </ion-item>
      <ion-item class="item item-button">
        <button class="button button-block button-positive" ng-click="ctrl.requestPasswordReset()">
          Email Verification Code
        </button>
      </ion-item>
      <ion-item class="item item-divider">
        <div class="">
          <button class="button button-clear button-stable" ui-sref="login">
            Nevermind, I Remember
          </button>
        </div>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
