<ion-view view-title="Duqhun">
  <!-- do you want padding? -->
  <ion-content class="padding landing">

    <!-- content goes here -->
    <ion-list class="list-inset">
      <ion-item class="item">
        <div class="text-center">
          <img class="logo" src="main/assets/images/logo.png" style="width: 56px; height: 55px">
          <p class="logo-text">Duqhan</p>
        </div>
      </ion-item>
      <ion-item class="item">
        <button class="button button-block button-energized" ui-sref="signup">
          Sign Up
        </button>
      </ion-item>
      <ion-item class="item item-divider">
        <div class="separator"></div>
        <div class="separator-text">or</div>
        <div class="separator"></div>
      </ion-item>
      <ion-item class="item">
        <button class="button button-block button-positive" ui-sref="login">
          Login
        </button>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
