<ion-view view-title="Duqhan" hide-nav-bar="true">
  <!-- do you want padding? -->
  <ion-content class="padding landing">

    <!-- content goes here -->
    <ion-list class="list-inset">
      <ion-item class="item">
        <div class="text-center">
          <img class="logo" src="main/assets/images/logo.png" style="width: 100px;">
        </div>
      </ion-item>
      <ion-item class="text-center sub-text">
        <p>Sign in to Browse the <br/> Products !</p>
      </ion-item>
      <ion-item class="item item-button">
        <button class="button icon-left ion-social-facebook button-block button-facebook" ng-click="ctrl.internalFacebookLogin()">
          Sign in with Facebook
        </button>

        <div class="text-center bottom-text">
          We also accept payments from
        </div>
      </ion-item>

      <ion-item class="item">
        <div class="row">
          <div class="col col-50 text-center paytm">
            <img src="auth/assets/images/paytm.png"/>
          </div>
          <div class="col col-50 text-center paypal">
            <img src="auth/assets/images/paypal.png"/>
          </div>
        </div>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>