<ion-view view-title="">
  <!-- do you want padding? -->
  <ion-content class="cart has-footer">

    <!-- content goes here -->
    <div ng-hide="ctrl.cart.products">
      <div class="cart-box">
        <h2>Empty Cart</h2>
        <p>Looks like you haven't made your choice yet...</p>
        <a ui-sref="store.products.latest">Back to Home</a>
        <span>Check what we've got for you and get it swished!</span>
      </div>
    </div>
    <div class="cart-items cart-list marg-0" ng-repeat="p in ctrl.cart.products">
      <div class="row product" ng-class="{'out-of-stack': p.available === 0}">
        <div class="col col-40 text-center" ui-sref="store.product.overview({productId: p.productId})">
          <div>
            <img class="cart-img"  ion-img-cache ng-src="{{p.imgurl || 'store/assets/images/default.jpg'}}">
          </div>
        </div>
        <div class="col col-60">
          <h2 ui-sref="store.product.overview({productId: p.productId})">{{p.name}}</h2>
          <p class="property" data-ng-bind-html="ctrl.trustAsHtml(key + value)" ng-repeat="(key, value) in p.propertyMap"></p>
          <!-- <p>
            <span ng-if="p.size">Size: {{p.size}}, </span>
            <span ng-if="p.color">Color: {{p.color}}</span>
          </p> -->
          <h3>
            <em>{{p.discountedPrice | currencySymbol:ctrl.cart.symbol}}</em>
            <span>{{p.price}}</span>
          </h3>
          <p>
            <span>Free Shipping</span>
            <span>(estimated {{p.shippingTime}} days)</span>
          </p>
          <!--<p>Shipping: <span>Rs.{{p.shippingRate}} ({{p.shippingTime}} days)</span></p>-->

          <div class="row">
            <div class="col col-80">
              <div class="list" ng-show="p.available > 0">
                <label class="item item-input item-select">
                  <div class="input-label">
                    Qty
                  </div>
                  <select ng-model="p.qty">
                    <option ng-repeat="i in ctrl.getAvailability(p.available) track by $index">{{$index+1}}</option>
                  </select>
                </label>
              </div>

            </div>
            <div class="col col-20">
              <button class="button-full m-none" ng-click="ctrl.removeFromCart(p)"></button>
            </div>

          </div>


          <div class="row product m-b-xs" ng-class="{'out-of-stack': p.available === 0}">
            <h3 ng-hide="p.available > 0">OUT OF STOCK</h3>
          </div>
        </div>
      </div>


    </div>




    <h5 class="price-details" ng-show="ctrl.cart.products">Price Details</h5>

    <div class="list summary cart-pay" ng-show="ctrl.cart.products">
      <h5 class="price-details"></h5>
      <a class="item">
        <span>Item Total</span>
        <span class="item-note">
          {{ctrl.getCartItemTotal() | currencySymbol:ctrl.cart.symbol}}
        </span>
      </a>
      <!--<a class="item">
        Estimated Shipping
        <span class="item-note">
          Rs.{{ctrl.getShippingTotal() || 0}}
        </span>
      </a>-->
      <a class="item">
        <span>Discount {{ctrl.getDiscountPctTotal()| number : 0 || 0}}%</span>
        <span class="item-note">- {{ctrl.getDiscountTotal() || 0 | currencySymbol:ctrl.cart.symbol}}</span>
      </a>
      <a class="item">
        <span>Order Total</span>
        <span class="item-note">{{ctrl.getOrderTotal() || 0 | currencySymbol:ctrl.cart.symbol}}</span>
      </a>
      <!--<a class="item item-divider">
        Free Shipping
      </a>-->
    </div>


    <div class="p-xs"></div>
  </ion-content>
  <ion-footer-bar class="cart-footer" ng-show="ctrl.cart.products">
    <div class="row m-none p-none">
      <div class="col col-40 text-center">
        <h3>{{ctrl.getOrderTotal() || 0 | currencySymbol:ctrl.cart.symbol}}</h3>
        <button class="button-clear button-small button-light return-policy-button" ui-sref="store.returnpolicy">
          Return Policy
        </button>
      </div>
      <div class="col col-60 text-right">
        <div class="button-bar">
          <!-- <button class="button button-positive add-cart-button" ng-click="ctrl.testBrowser()">Checkout</button> -->
          <button class="button button-positive add-cart-button" ui-sref="store.checkout({cart: ctrl.cart})">Checkout</button>
        </div>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>