<ion-view view-title="Duqhan">
  <!-- do you want padding? -->
  <ion-content class="cart has-footer">

    <!-- content goes here -->
    <div class="list summary">

      <a class="item">
        Item Total
        <span class="item-note">
          Rs.{{ctrl.getCartItemTotal() || 0.00}}
        </span>
      </a>

      <a class="item">
        Estimated Shipping
        <span class="item-note">
          Rs.0
        </span>
      </a>

      <a class="item positive">
        Discount {{ctrl.getDiscountPctTotal()| number : 0 || 0}}%
        <span class="item-note">
          - Rs.{{ctrl.getDiscountTotal() || 0.00}}
        </span>
      </a>

      <a class="item">
        Order Total
        <span class="item-note">
          Rs.{{ctrl.getOrderTotal() || 0.00}}
        </span>
      </a>

    </div>
    <div class="card" ng-hide="ctrl.cart.products">
      <div class="item item-text-wrap">
        You don't have any items in your cart yet. Please add some items to the cart.
      </div>
    </div>
    <div class="cart-items" ng-repeat="p in ctrl.cart.products">
      <div class="row product">
        <div class="col col-75">
          <h2>{{p.name}}</h2>
          <p>
            <span ng-if="p.size">Size: {{p.size}}, </span>
            <span ng-if="p.color">Color: {{p.color}}</span>
          </p>
          <p>Shipping: <span>$4 (Jan 26 - Feb 5)</span></p>
        </div>
        <div class="col col-25 text-center">
          <img src="{{p.imgurl || 'store/assets/images/default.jpg'}}">
          
        </div>
      </div>
      <div class="row product m-b-xs">
        <div class="col">
          <div class="list">
            <label class="item item-input item-select">
              <div class="input-label">
                Qty
              </div>
              <select ng-model="p.qty">
                <option ng-repeat="i in ctrl.getAvailability(p.available) track by $index">{{$index+1}}</option>
              </select>
            </label>
          </div>
        </div>
        <div class="col text-right">
          <h3><span>Rs.{{p.price}}</span> Rs.{{p.discountedPrice}}</h3>
        </div>
      </div>
      <button class="button button-full button-stable m-none" ng-click="ctrl.removeFromCart(p)">
        <i class="ion-close-circled m-r-xs"></i> Remove
      </button>
    </div>
    <div class="p-md"></div>
  </ion-content>
  <ion-footer-bar class="cart-footer">
    <div class="row m-none p-none">
      <div class="col text-center">
        <h3>Rs.{{ctrl.getOrderTotal() || 0}}</h3>
        <button class="button button-clear button-small button-light return-policy-button" ui-sref="store.returnpolicy">
          Return Policy
        </button>
      </div>
      <div class="col text-right">
        <div class="button-bar">
          <button class="button button-positive add-cart-button" ui-sref="store.checkout({cart: ctrl.cart})">Checkout</button>
        </div>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>
