<ion-view view-title="Change Password">
  <!-- do you want padding? -->
  <ion-content class="padding authenticate">

    <!-- content goes here -->
    <ion-list class="list-inset">
      <ion-item class="item text-center">
        <div class="logo-wrapper">
          <img class="logo" src="main/assets/images/logo.png" style="width: 56px; height: 55px">
          <p class="logo-text">Duqhan</p>
        </div>
      </ion-item>
      <!-- <div class="info-message">
        <i class="ion-checkmark-circled"></i> 
        A 6 digit password reset code has been sent to your email.
      </div> -->

      <form class="m-t-lg" name="ctrl.confirmPasswordChangeForm" novalidate="">       
        <ion-item class="item item-input" ng-class="{ 'has-errors' : ctrl.confirmPasswordChangeForm.oldPassword.$invalid, 'no-errors' : ctrl.confirmPasswordChangeForm.oldPassword.$valid}">
          <i class="icon ion-ios-locked-outline placeholder-icon"></i>
          <input name="oldPassword" type="password" placeholder="Current Password" ng-model="ctrl.user.oldPassword" required="">
        </ion-item>
        <div class="error-container" ng-show="ctrl.confirmPasswordChangeForm.oldPassword.$error && ctrl.confirmPasswordChangeForm.$submitted" ng-messages="ctrl.confirmPasswordChangeForm.oldPassword.$error">
          <div ng-messages-include="error-list.html"></div>
        </div>

        <ion-item class="item item-input" ng-class="{ 'has-errors' : ctrl.confirmPasswordChangeForm.password.$invalid, 'no-errors' : ctrl.confirmPasswordChangeForm.password.$valid}">
          <i class="icon ion-ios-locked-outline placeholder-icon"></i>
          <input name="password" type="password" placeholder="New Password" ng-model="ctrl.user.newPassword" required="">
        </ion-item>
        <div class="error-container" ng-show="ctrl.confirmPasswordChangeForm.password.$error && ctrl.confirmPasswordChangeForm.$submitted" ng-messages="ctrl.confirmPasswordChangeForm.password.$error">
          <div ng-messages-include="error-list.html"></div>
        </div>

        <div class="error server-side text-center m-t-md" ng-show="ctrl.responseCB && ctrl.confirmPasswordChangeForm.$submitted">
          <i class="ion-information-circled"></i> {{ctrl.responseCB}}
        </div>

        <ion-item class="item item-button">
          <button class="button button-block button-positive">
            Set New Password
          </button>
        </ion-item>
      </form>
    </ion-list>

  </ion-content>
</ion-view>

<script id="error-list.html" type="text/ng-template">  
  <div class="error" ng-message="required">
    <i class="ion-information-circled"></i> 
    This field is required!
  </div>
</script>