<ion-view view-title="Contact Us">
  <!-- do you want padding? -->
  <ion-content class="padding">
    <form name="ctrl.ContactForm" ng-submit="ctrl.ContactUs()" novalidate="">
      <label class = "item item-input item-select">
       <div class = "input-label">
          Subject
       </div>
        <select ng-model="ctrl.statusCode" 
        ng-options="count.id as count.name for count in ctrl.countList">
        </select>
      </label>
      <label class="item item-input">
        <textarea placeholder="Messege" ng-model="ctrl.Contact.status" ></textarea>
      </label>
      <button class="button button-full button-positive">
        Contact Us
      </button>
    </form>
  </ion-content>
</ion-view>
