<ion-view view-title="Customer Support">
  <!-- do you want padding? -->
  <ion-content class="padding">
      <h5>Question about an issue?</h5>
      <div class="list list-inset">
          <div class="item">
            frequently asked questions
          </div>
          <div class="item">
            Return Policy
          </div>
          <div class="item">
            My Order
          </div>
          <div class="item">
            Payment Issues
          </div>
          <div class="item">
            My Account Settings
          </div>
      </div>
      <h5>Question About Your Order?</h5>
      <div class="list list-inset">
        <div class="item">
          your order history
          <p>View,Track, or an Order</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>