<ion-view view-title="Duqhan" hide-nav-bar="true">
  <!-- do you want padding? -->
  <ion-content class="padding landing">

    <!-- content goes here -->
    <ion-list class="list-inset">
      <ion-item class="item">
        <div class="text-center">
          <img class="logo" src="main/assets/images/logo.png" style="width: 60px;">
          <p class="logo-text">Duqhan</p>
        </div>
      </ion-item>
      <ion-item class="text-center sub-text">
        <p>Sign in to Processed further
          <br/> Products !</p>
      </ion-item>
      <ion-item class="item item-button">
        <button class="button icon-left ion-social-facebook button-block button-facebook" ng-click="ctrl.internalFacebookLogin()">
          Sign in with Facebook
        </button>
        <p>OR</p>
        <button class="button button-block button-energized" ui-sref="store.guestLogin({productId: ctrl.productId})">
          Login with email
        </button>
      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>