<ion-view view-title="Duqhan">
  <ion-content>

    <!-- content goes here -->
    <div class="card">
      <div class="item item-text-wrap text-center">
        Coming soon
      </div>
    </div>
    <!-- <ion-list>
      <ion-item
        class="item-remove-animate item-avatar item-icon-right"
        type="item-text-wrap"
        ui-sref="store.listDetail">
        <img src="store/assets/images/yo@2x.png">
        <h2>Mr. Yo</h2>
        <p>Learn more...</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list> -->

  </ion-content>
</ion-view>
