<ion-side-menus enable-menu-with-back-views="false">

  <!-- CONTENT -->
  <ion-side-menu-content>

    <!-- header bar -->
    <!-- the nav bar will be updated as we navigate between views -->
    <ion-nav-bar align-title="left" class="bar-energized">
      <!-- back button, shown if applicable -->
      <ion-nav-back-button>
      </ion-nav-back-button>
      <!-- nav button, shown if applicable -->
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="primary">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button button-small button-icon button-clear ion-ios-home-outline larger-icon" ui-sref="store.products.latest">
        </button>
        <button class="button button-small button-icon button-clear ion-bag" ui-sref="store.cart">
          <span class="badge badge-assertive header-badge" ng-show="menu.cartTotalNumber>0">{{menu.cartTotalNumber}}</span>
        </button>
<!--         <button class="button button-small button-icon button-clear ion-levels">
        </button> -->
        <button class="button button-small button-icon button-clear ion-ios-search larger-icon">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <div class="notification animated bounceInDown" ng-show="menu.notification.type" ng-class="{'success': menu.notification.type == 'success' , 'failure': menu.notification.type == 'failure'}">{{menu.notification.text}}</div>
    <!-- ROUTING INJECTED HERE: storeContent -->
    <ion-nav-view name="storeContent"></ion-nav-view>

  </ion-side-menu-content>

  <!-- SIDEMENU -->
  <ion-side-menu side="left">

    <!-- menu header -->
    <ion-header-bar class="bar-energized">
      <h1 class="title">Duqhan</h1>
    </ion-header-bar>

    <!-- menu content -->
    <ion-content>
      <ion-list>
        <ion-item class="item-image menu-image" menu-close>
          <img src="store/assets/images/user.png">
          <h2>{{menu.username}}</h2>
        </ion-item>
        <ion-item menu-close ui-sref="store.products.latest">
          Latest
        </ion-item>
        <ion-item menu-close ui-sref="store.products.recent">
          Recent
        </ion-item>
        <ion-item menu-close ng-repeat="m in menu.topLevelMenu" ui-sref="store.productsByCategory({categoryId: m.categoryId})">
          {{m.categoryName}}
        </ion-item>
        <ion-item class="item-divider">
          Settings
        </ion-item>
        <ion-item menu-close ui-sref="store.profile">
          My Profile
        </ion-item>
        <ion-item menu-close ui-sref="store.changepassword">
          My Password
        </ion-item>
        <ion-item menu-close ui-sref="store.myaddress">
          My Addresses
        </ion-item>
        <ion-item menu-close ui-sref="store.cart">
          My Cart
        </ion-item>
        <ion-item menu-close ui-sref="store.orderhistory">
          My Orders
        </ion-item>
        <ion-item menu-close ui-sref="store.customersupport">
          Customer Support
        </ion-item>
        <ion-item menu-close ng-click="menu.logout()">
          Logout
        </ion-item>
      </ion-list>
      <div class="menu-footer p-md text-center energized">
        <p class="m-none">Version - 1.0</p>
        <p class="m-none">Build - 1.0.1</p>
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
