<ion-view view-title="">
  <!-- do you want padding? -->
  <ion-content class="padding my-address">
    <h5 ng-click="ctrl.addAddress()">Add address</h5>
    <ion-list>
      <div class="card" ng-repeat="address in ctrl.addresses" ng-class="{'active-address': address.status == 1}">

        <div class="item item item-icon-left item-icon-right item-text-wrap">
          <div class="radio-box">
            <input type="radio" name="radio" id="mme" value="mme">
            <label for="mme"></label>
          </div>
          <strong ng-click="ctrl.openAddressOptions($event, address)">Edit</strong>
          <h2>{{address.contactName}}
            <span>Default</span>
          </h2>
          <p>{{address.phone}}</p>
          <p>{{address.streetOne}}, {{address.streetTwo}}, {{address.city}}, {{address.state}} - {{address.zipCode}}</p>
        </div>
      </div>

    </ion-list>
  </ion-content>
  <ion-footer-bar class="cart-footer">
    <div class="row m-none p-none">
      <div class="col">
        <div class="button-bar">
          <button class="button button-positive add-cart-button" ui-sref="store.checkout({cart: ctrl.cart})">Continue</button>
        </div>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>

<script id="address-options-popover.html" type="text/ng-template">
  <ion-popover-view class="address-options-popover">
    <ion-content>
      <div class="list">
        <a class="item" ng-hide="address.status == 1" ng-click="ctrl.setDefaultAddress()">
          Make default
        </a>
        <a class="item" ng-click="ctrl.openEditAddressModal()">
          Edit
        </a>
        <a class="item" ng-click="ctrl.removeAddress()">
          Remove
        </a>
      </div>
    </ion-content>
  </ion-popover-view>
</script>

<script id="error-list.html" type="text/ng-template">  
  <div class="error" ng-message="required">
    <i class="ion-information-circled"></i> 
    This field is required!
  </div>
  <div class="error" ng-message="number">
    <i class="ion-information-circled"></i> 
    This is not a valid mobile number!
  </div>
  <div class="error" ng-message="minlength maxlength">
    <i class="ion-information-circled"></i> 
    Mobile number should be 10 digits!
  </div>
</script>