<ion-view view-title="Order History">
  <!-- do you want padding? -->
  <ion-content class="padding order-history">
    <!-- content goes here -->
    <ion-list>
      <div ng-repeat="order in ctrl.orders">
        <!-- <h5 class="m-b-xs">{{order.orderDate | date : "EEE, MMM d, yyyy"}} (OD41516456525451)</h5> -->
        <h5 class="m-b-xs">{{order.orderDate | dateFilter}} ({{order.orderId}})</h5>
        <div class="card" ui-sref="store.orderdetails({order: order})">
          <div class="item item-thumbnail-left item-text-wrap">
            <img src="{{order.prodImg}}">
            <h2>{{order.productName}}</h2>
            <h3>{{order.status | orderStatusFilter}}</h3>
            <p>Delivered On Mon, Dec 7th</p>
          </div>
        </div>
      </div>
      <div class="card" ng-hide="ctrl.orders">
        <div class="item item-text-wrap">
          You don't have any orders till now.
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
