<ion-view view-title="">
  <!-- do you want padding? -->
  <ion-content class="padding order-history">
    <!-- content goes here -->
    <ion-list>
      <div ng-repeat="order in ctrl.orders">
        <div class="card" ui-sref="store.orderdetails({order: order})">
          <div class="item item-divider">
            {{order.orderDate | dateFilter1}} ({{order.orderId}})
          </div>
          <div class="item item-thumbnail-left item-text-wrap">
            <img src="{{order.prodImg}}">
            <h2>{{order.productName}}</h2>
            <h3 class="text-capitalize">{{order | orderStatusFilter}}</h3>
            <!--             <p ng-if="order.trackerBean">
              <span ng-if="order.trackerBean.status == 'delivered'">Delivered On</span>
              <span ng-if="!(order.trackerBean.status == 'delivered')">Estimated Delivery On</span>
              {{order.trackerBean.estDeliveryDate | dateFilter1}}
            </p> -->
            <p ng-if="order.status === 'approved'">
              <span>Estimated Delivery On</span>
              {{order.orderDate | dateFilter3}}
            </p>
          </div>
        </div>
      </div>
      <div class="card" ng-hide="ctrl.orders.length > 0">
        <div class="item item-text-wrap">
          You don't have any orders till now.
        </div>
      </div>
    </ion-list>
    <ion-infinite-scroll ng-if="!ctrl.noMoreItemsAvailable" on-infinite="ctrl.loadMore()" distance="1%" immediate-check="false"></ion-infinite-scroll>
    <div class="duqhan-guarantee">
      <div class="stamp-wraper">
        <p>We guarantee a safe and secure shopping experience so you never have to worry.</p>
      </div>
    </div>
  </ion-content>
</ion-view>