<ion-view view-title="Order Details">
  <!-- do you want padding? -->
  <ion-content class="padding">

    <!-- content goes here -->
    <ion-list>
      <a class="item item-thumbnail-left" href="#">
        <img src="http://res.cloudinary.com/duqhan/image/upload/v1484909270/1_h7vdx5.jpg">
        <h2>Moto E3 Power (Black,16 GB)</h2>
        <span>
         <p>Price 58 (Rupees)</p> 
         </span>
         <span>
          <p>Discount 10%</p>
         </span>
      </a>
      <!-- <div class="item">
      <p>10% instant Discount * with State bank card</p>
      </div>
      <div class="item">
        <h2>Manage your order</h2>
      </div> -->
      <div class="item">
       <i class="icon ion-checkmark-circled m-r-xs" style="color: #96cb7f;"></i> Delivered
      </div>
      <div class="item">
        <h2>Delivery Address</h2>
        <!-- <span><i class="icon ion-location"></i>kolkata</span> -->
        <p>18-B, Mandeville Gardens,</p>
        <p>Kolkata 700 019</p>
      </div>
    </ion-list>
  </ion-content>
</ion-view>