<ion-view view-title="Order History">
  <!-- do you want padding? -->
  <ion-content class="padding">
    <!-- content goes here -->
    <ion-list>
      <a class="item item-thumbnail-left" href="#">
        <img src="http://res.cloudinary.com/duqhan/image/upload/v1484909270/1_h7vdx5.jpg">
        <h2>Moto E3 Power (Black,16 GB)</h2>
         <span>
          <p>Price 58 (Rupees)</p> 
         </span>
         <span>
          <p>Discount 10%</p>
         </span>
      </a>
      <div class="item">
        <i class="icon ion-checkmark-circled m-r-xs" style="color: #96cb7f;"></i> Delivered
      </div>
    </ion-list>
  </ion-content>
</ion-view>