<ion-view view-title="">
  <ion-content class="padding order-detail profile" style="background-color: white">
  	<div style="text-align: center;">
  		<div>
            <div>
              <img src="{{ctrl.returnImg | store/assets/images/profile-img.png}}" ng-click="ctrl.openImageSourceSelector()">
            </div>
         </div>
  	</div>
  	<div>
  		<textarea rows="5" placeholder="product issue....." ng-model="ctrl.returnIssue"></textarea>
  	</div>
   	<div style="display: flex;">
   		<button class="button button-block button-positive" style="margin: 5px;" ng-click="ctrl.returnOrderReq()">Confirmed</button>
   		<button class="button button-block" style="margin: 5px;" ng-click="ctrl.goBackOrderHistory()">Cancel</button>
		 </div>
  </ion-content>
</ion-view>
