<ion-view view-title="Profile" class="profile">
  <!-- do you want padding? -->
  <ion-content class="padding">
    <ion-list class="list-inset">
      <ion-item class="item-image profile-image" menu-close>
        <img src="store/assets/images/user.png">
        <em>Tap the image to change</em>
      </ion-item>
      <form ng-submit="ctrl.updateUserProfile()">
        <ion-item class="item item-input">
          <i class="icon ion-ios-person-outline placeholder-icon"></i>
          <input name="name" type="text" placeholder="Name">
        </ion-item>
        <ion-item class="item item-input">
          <i class="icon ion-ios-telephone-outline placeholder-icon"></i>
          <input name="mobile" type="tel" placeholder="Mobile">
        </ion-item>
        <ion-item class="item item-input">
          <i class="icon ion-ios-email-outline placeholder-icon"></i>
          <input name="email" type="email" placeholder="E-Mail">
        </ion-item>
        <ion-item class="item item-input">
          <i class="icon ion-ios-people-outline placeholder-icon"></i>
          <ion-radio ng-model="choice" ng-value="'Male'">Male</ion-radio>
          <ion-radio ng-model="choice" ng-value="'Female'">Female</ion-radio>
        </ion-item>
        <div class="item item-input item-datepicker" ion-datetime-picker date  ng-model="ctrl.register.dob">
          <i class="icon ion-ios-calendar-outline placeholder-icon"></i>
          {{ctrl.register.dob| date: "dd/MM/yyyy"}}
          <span class="input-label placeholder-icon" style="font-size: 12px !important;" ng-hide="ctrl.register.dob">Date of Birth</span>
<!--           <input class="item colorForInput" type="text" id="datepicker1" name="dob" ion-datetime-picker date  ng-model="ctrl.register.dob" value="{{ctrl.register.dob}}"> -->
          
        </div>
        
        <ion-item class="item item-button">
          <button class="button button-block button-positive" >
            Update
          </button>
        </ion-item>
      </form>
      <ion-item class="item item-divider">
        <div class="">
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>