<ion-view view-title="Return Policy">
  <!-- do you want padding? -->
  <ion-content class="return-policy">

    <!-- content goes here -->
    <ion-list>
      <ion-item class="item item-text-wrap">
        <p>We want you to be completely satisfied with your purchase on our apps. Our Guarantee means that we're committed to providing you with the most delightful shopping experience possible. You can feel secure and confident shopping on Duqhan.</p>
        <h2>How does the return policy work?</h2>
        <p>To start a return, the button below will direct you to your Order History page. From there, simply choose the relevant item(s) and click on ‘Customer Support’ to communicate directly with our customer service team.</p>
        <button class="button button-block button-positive" ui-sref="store.orderhistory">
          View Order History
        </button>
      </ion-item>
      <ion-item class="item item-icon-left item-text-wrap">
        <i class="icon ion-checkmark-circled"></i>
        You may return any order within 30 days of delivery.
      </ion-item>
      <ion-item class="item item-icon-left item-text-wrap">
        <i class="icon ion-checkmark-circled"></i>
        Our customer service team strives to respond to all requests within 72 hours or less. We're always available to help!
      </ion-item>
      <ion-item class="item item-icon-left item-text-wrap">
        <i class="icon ion-checkmark-circled"></i>
        Once an order has been placed, if you change your mind, you may cancel your order within the Order History section before it's been shipped.
      </ion-item>
      <ion-item class="item item-icon-left item-text-wrap">
        <i class="icon ion-checkmark-circled"></i>
        After an item has shipped, if you’re unsatisfied for any reason, you can always contact us for further assistance.
      </ion-item>
      <ion-item class="item item-text-wrap">
        <h2>How will I receive my refund?</h2>
        <p>Refunds are processed back to the original payment method used to purchase the order. 
        Typically, you can expect your payment provider to credit you for your refund within 14 business days. If you are having trouble locating your refund, we recommend contacting your payment provider for further assistance.
        Duqhan does not provide reimbursement for costs related to return shipping, customs fees, taxes, postal fees or VAT related costs.</p>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
