<ion-view view-title="Size Chart">
  <ion-content class="padding products-tab-content">
    <ion-list>
      <ion-item class="item item-divider">
        <div class = "row">
         <div class = "col col-offset-5">SIZE</div>
         <div class = "col col-offset-5">BUST</div>
         <div class = "col col-offset-5">WAIST</div>
         <div class = "col col-offset-5">HIPS</div>
      </div>
      <div class = "row">
         <div class = "col">XS</div>
         <div class = "col">31-32</div>
         <div class = "col">23-24</div>
          <div class = "col">33-34</div>
       </div>
       
      <div class = "row">
         <div class = "col">XS</div>
         <div class = "col">31-32</div>
         <div class = "col">23-24</div>
          <div class = "col">33-34</div>
       </div>
       
      <div class = "row">
         <div class = "col">XS</div>
         <div class = "col">31-32</div>
         <div class = "col">23-24</div>
          <div class = "col">33-34</div>
       </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>