<ion-modal-view class="">
  <ion-header-bar class="bar-energized">
    <div class="buttons">
      <button class="button icon ion-ios-arrow-back" ng-click="ctrl.closeModal()"></button>
    </div>
    <h1 class="title">Get it Free</h1>
  </ion-header-bar>
  <ion-content class="product-tab-content has-footer">
    <!-- content goes here -->

  </ion-content>
  <ion-footer-bar class="bar-dark">
    <button class="button button-clear button-light button-block p-none" ng-click="">GET IT FREE NOW</button>
  </ion-footer-bar>
</ion-modal-view>