<ion-view view-title="Detail">
  <!-- do you want padding? -->
  <ion-content class="product-tab-content has-footer has-tabs">

    <!-- content goes here -->
    <ion-slide-box delegate-handle="image-viewer" show-pager="true">
        <ion-slide ng-repeat="i in ctrl.product.images">
            <img src="{{i.imgUrl}}" style="width:100%; margin:auto; display:block" >
        </ion-slide>
    </ion-slide-box>
    <div class="product-brief p-sm">
      <h1 class="product-name">{{ctrl.product.name}}</h1>
      <p class="product-price m-b-none"><span>Rs.{{ctrl.product.orginalPrice}}</span> Rs.{{ctrl.product.salesPrice}}</p>
    </div>
    <div class="product-detail p-sm">
      <div class="size-wrapper m-b-md" ng-show="ctrl.product.sizeArr">
        <div class="row m-b-xs">
          <div class="col title">Sizes</div>
          <div class="col link text-right" ui-sref="store.sizes">Size chart</div>
        </div>
        <div class="values">{{ctrl.product.sizeArr}}</div>
      </div>
      <div class="color-wrapper m-b-md" ng-show="ctrl.product.colorArr">
        <div class="row m-b-xs">
          <div class="col title">Colors</div>
        </div>
        <div class="values">{{ctrl.product.colorArr}}</div>
      </div>
      <div class="shipping-time-wrapper m-b-md">
        <div class="row m-b-xs">
          <div class="col title">Estimated Arrival</div>
          <div class="col link text-right" ui-sref="store.shipping">Details</div>
        </div>
        <div class="values">Jan 26 - Feb 5</div>
      </div>
      <div class="shipping-cost-wrapper m-b-md">
        <div class="row m-b-xs">
          <div class="col title">Estimated Shipping</div>
          <div class="col link text-right" ui-sref="store.shipping">Details</div>
        </div>
        <div class="values">$5</div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="">
    <div class="button-bar">
      <button class="button button-dark purchase-price-button">Rs.{{ctrl.product.salesPrice || 0.00}} <span> Rs.{{ctrl.product.orginalPrice || 0.00}}</span></button>
      <button class="button button-positive add-cart-button" ng-click="ctrl.addToBag(ctrl.product)">Add to Bag</button>
      <!-- <button class="button button-positive add-cart-button" ng-click="ctrl.openModal()">Add to Bag</button> -->
    </div>
  </ion-footer-bar>
</ion-view>