<ion-pane class="product-tab-pane">
  <ion-tabs class="tabs-striped tabs-assertive">

    <!-- List Tab -->
    <ion-tab title="Overview" ui-sref="store.product.overview">
      <ion-nav-view name="overviewProductContent"></ion-nav-view>
    </ion-tab>

    <!-- Debug Tab -->
    <ion-tab title="Related" ui-sref="store.product.related">
      <ion-nav-view name="relatedProductContent"></ion-nav-view>
    </ion-tab>

    <!-- Debug Tab -->
    <ion-tab title="Description" ui-sref="store.product.description">
      <ion-nav-view name="descriptionProductContent"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-pane>

