<ion-pane class="product-tab-pane">
  <ion-tabs class="tabs-striped tabs-assertive">

    <!-- List Tab -->
    <ion-tab title="Overview" ui-sref="store.product.overview">
      <ion-nav-view name="overviewProductContent"></ion-nav-view>
    </ion-tab>

    <!-- Related Tab -->
    <!-- <ion-tab title="Related" ng-click="ctrl.gotoRelated()">
      <ion-nav-view name="relatedProductContent"></ion-nav-view>
    </ion-tab> -->

    <!-- Description Tab -->
<!--     <ion-tab title="Description" ng-click="ctrl.gotoDescription()">
      <ion-nav-view name="descriptionProductContent"></ion-nav-view>
    </ion-tab> -->
  </ion-tabs>
</ion-pane>

