<ion-view view-title="">
  <ion-content class="padding products-tab-content">

    <!-- content goes here -->
    <div class="row p-l-n p-r-n products-row">
      <div class="col col-50" ng-repeat="p in ctrl.relatedProducts">
        <div class="product-preview">
          <span class="discount">20%</span>
          <div class="item-image">
            <img src="main/assets/images/dummy-product.png">
          </div>
          <div class="item item-text-wrap text-center p-xs">
            Levis Denim
          </div>
          <div class="item item-divider">
            <div class="row p-none">
              <div class="col col-50 p-none old-price">$290</div>
              <div class="col col-50 p-none price text-right">$200</div>
            </div>
          </div>
        </div>
      </div>
  </ion-content>
</ion-view>